<div class="d-flex justify-content-end align-items-around mb-2 border-bottom">
  <button class="btn p-2 align-self-center ml-auto"
    [ngClass]="{'c-primary': view === 'comments', 'c-normal': view !== 'comments'}"
    style="cursor: pointer;outline: none; " (click)="switchView('comments')">
    <i class="far fa-sticky-note"></i>
  </button>
  <button class="btn p-2 align-self-center ml-1"
    [ngClass]="{'c-primary': view === 'assessment', 'c-normal': view !== 'assessment'}"
    style="cursor: pointer; outline: none;" (click)="switchView('assessment')">
    <i class="fas fa-tasks"></i>
  </button>
</div>
<ng-container *ngIf="view === 'assessment'">
  <div style="overflow-y: auto;" class="p-2 ml-2">
    <div style="height: 37vh;">
      <div class="d-flex flex-column my-2" *ngFor="let question of data; let i = index">
        <div>
          {{i+1}}. {{question.q}}
        </div>
        <div class="d-flex justify-content-end mt-2">
          <div class="btn-group ml-auto mb-2" data-toggle="buttons">
            <ng-container *ngFor="let answer of question.as">
              <button type="button" class="btn c-normal primary border" style="padding: .5rem .75rem;"
                (click)="setAnswer(i, answer)"
                [ngClass]="{'btn': true, 'btn-primary': isActive(question, answer), 'btn-secondary': !isActive(question, answer)}">
                {{answer}}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center mt-2 pt-1 border-top">
    <div class="ml-2" *ngIf="getAssessment(data) !== '-'">Total score: <strong>{{getAssessment(data)}}%</strong></div>
    <div class="ml-2" *ngIf="getAssessment(data) === '-'">Total score: <strong>0%</strong></div>
    <div class="d-flex flex-row ml-auto">
      <button type="button" class="btn c-normal primary mr-1" style="padding: .5rem .75rem;"
        (click)="reset()">Reset</button>
      <!-- <button type="button" class="btn border btn-primary" style="padding: .5rem .75rem;" (click)="save()">Save</button> -->
    </div>
  </div>
</ng-container>
<div class="d-none" [class.d-block]="!isLoading && view === 'comments'">
  <div style="overflow-y: auto;" class="py-2 pl-2 pb-3">
    <div #commentTemplate style="height: 38vh;" class="border p-3" contenteditable="true">
    </div>
  </div>
  <div class="d-flex flex-row justify-content-end pt-1 border-top">
    <!-- <button type="button" class="btn border btn-primary" style="padding: .5rem .75rem;"
      (click)="saveComment()">Save</button> -->
  </div>
</div>
<ng-template #loading>
  <div class="d-flex align-items-center justify-content-center">
  </div>
</ng-template>
