<nb-card>
    <nb-card-body>
        <div id="main-content" class="wiki-content">
            <div id="main-content" class="wiki-content" *ngIf="!isSpanish()">

                <div class="confluence-information-macro confluence-information-macro-note conf-macro output-block"
                    data-hasbody="true" data-macro-name="note"><span
                        class="aui-icon aui-icon-small aui-iconfont-warning confluence-information-macro-icon"> </span>
                    <div class="confluence-information-macro-body"></div>
                </div>
                <p align="center"><strong>Terms and Conditions Applicable for Use of {{legalName}} Web API</strong></p>
                <p>Each customer as a user (“User”) agrees to comply with all terms and conditions as stated below with
                    regards to a receipt of API delivery service (“Service”) on {{legalName}} Web API (“Software”), a
                    product of {{legalNameFull}} (“LICENSOR”). For the purpose of the use of the Software, User is
                    deemed to have agreed that he/she is binding on the provisions of the Terms and Conditions
                    Applicable for Use of {{legalName}} Web API ("Terms of Use") upon installation or first use of the
                    Software by User.</p>
                <p><strong>Section 1 – General Provisions</strong></p>
                <p>The Terms of Use define the terms and conditions on User’s application for the online Service of
                    LICENSOR between LICENSOR and User to be registered as an applicant.</p>
                <p><br></p>
                <p><strong>Section 2 – Application</strong></p>
                <p>1. If User wishes to make use of the Service, he/she is required to understand and accept the Terms
                    of Use and make application for the Service in a manner as specified by LICENSOR.</p>
                <p>2. If Licensor consents to the application by User as stated in the preceding paragraph, LICENSOR
                    will notify User to that effect in a manner as specified by LICENSOR.</p>
                <p>3. For the purpose of application for the Service as stated in the paragraph 1 above, User is
                    required to register in advance the items listed below to LICENSOR, and the same applies for a
                    change in the items below. Damages due to the absence of the registration will be solely borne by
                    User.</p>
                <p>(i) business name (trade name), name, representative's name and address;</p>
                <p>(ii) name, e-mail address or telephone number of a person responsible for the use of the Service, or
                    other matters as specified by LICENSOR;</p>
                <p>(iii) purpose of using the Software; and</p>
                <p>(iv) other matters related to the operations of User as specified by LICENSOR</p>
                <p><br></p>
                <p><strong>Section 3 – Right to Use Software</strong></p>
                <p>In accordance with the terms and conditions specified in the Terms of Use, LICENSOR grants User the
                    non-exclusive right to use Software, on a specified and pre-registered computer system, for the sole
                    purpose of developing a user system that utilizes Software. Although Software is equipped with
                    functionality to detect emotions, results of detection and recognition of emotions may differ
                    depending upon the environment in which Software is used, and upon the operating system upon which
                    Software is used.</p>
                <p><strong>Section 4 – Sales and Distribution of Development System</strong></p>
                <p>User may sell or distribute to a third party any systems created by himself/herself using the
                    Software in accordance with Section 3. User may not, in any case, sub-license, distribute, lease or
                    transfer the Software (see Section 7, item (ii)).</p>
                <p><br></p>
                <p><strong>Section 5 – Protection of Intellectual Property Rights of Software</strong></p>
                <p>1. All intellectual property rights, including copyrights, patent rights, trademarks, and other
                    similar rights, relating to the Software are attributable to Licensor.</p>
                <p>2. User agrees that all such intellectual property rights relating to Software and copies thereof are
                    not transferrable to User, pursuant to the provisions of the Terms of Use and other provisions of
                    any related documents.</p>
                <p><br></p>
                <p><strong>Section 6 – Confidentiality</strong></p>
                <p>User recognizes that Software is secret and confidential information owned by LICENSOR. User agrees
                    to maintain secrecy and confidentiality by not allowing access to Software by parties other than
                    employees and representatives of User who have a legitimate need to access Software to perform their
                    official duties. User will implement all measures necessary to protect Software from unauthorized
                    access and use.</p>
                <p><br></p>
                <p><strong>Section 7 – Prohibited Acts</strong></p>
                <p>User is prohibited from performing any of the acts as specified in the items below:</p>
                <p>(i) Using any computer system other than the designated computer system that has been registered in
                    the Software;</p>
                <p>(ii) In any case, sub-licensing, distributing, leasing or transferring the Software, and taking any
                    action to infringe the rights of Licensor in connection with matters outside the scope that are
                    explicitly stated in the Terms of Use, including but not limited to duplication, edition,
                    modification, analysis, publication, broadcasting, exhibition, distribution, transfer, rental,
                    translation, adaptation, transmission, reprint, recording, re-license, registration of rights, and
                    application, etc.;</p>
                <p>(iii) Attempting to derive or create the source program from the object program, regardless of
                    whether by reverse compilation, disassembling, reverse-engineering or otherwise;</p>
                <p>(iv) Copying, or otherwise reproducing Software onto a system or medium other than the specified
                    computer system;</p>
                <p>(v) Exporting Software to any foreign country;</p>
                <p>(vi) Transferring, lending, or otherwise dispose in any manner of the Software to any third party;
                </p>
                <p>(vii) Utilizing Software for the purpose of slandering, discriminating, or otherwise harming a third
                    party;</p>
                <p>(viii) Utilizing Software for the purpose of infringing on the privacy of a third party; and</p>
                <p>(ix) Using Software for any other purpose that violates the law or public policy.</p>
                <p><br></p>
                <p><strong>Section 8 - Liability</strong></p>
                <p>User agrees to use Software at User’s own risk. User will be held accountable for any damages
                    suffered to LICENSOR caused by User using Software in violation of any part of the Terms of Use.</p>
                <p><br></p>
                <p><strong>Section 9 – Acquisition of Voice Data</strong></p>
                <p>Licensor may use voice data sent from the development system created by User solely for the purpose
                    of improving the accuracy of the Software.</p>
                <p>
                    Licensor cares about the integrity and security of the Customer’s Voice Data, related and personal
                    information. You acknowledge that you are solely responsible for any personal injury or property
                    damage arising from or relating to your use of Software.
                    The voice data acquired by Licensor may be disclosed as follows:
                </p>
                <p><strong>By Law</strong></p>
                <p>If the release of the voice data or any collected information to respond to legal process, to
                    investigate or remedy potential violations of our policies, or to protect the rights, property, and
                    safety of others, we may share your information as permitted or required by any applicable law, rule
                    or regulation.</p>
                <!-- <p><strong>Other Third Parties</strong></p>
            <p>We may share your information for the purposes of the speech-to-text transcription of the voice data by uploading the voice data into the Software platform wit.ai.  Despite the fact that the information is deleted from the other server after processing, we cannot guarantee that unauthorized third parties will never be able to defeat our or third party’s security measures or use your personal information for improper purposes.</p> -->
                <p><br></p>
                <p><strong>Section 10 – Usage fees</strong></p>
                <p>The method of calculation and amounts of usage fees, optional fees and other fees and expenses
                    payable for the Service, including those not specified in the Terms of Use, shall be as specified on
                    LICENSOR's website for the Service (<span class="nolink"><a class="external-link"
                            href="{{companyUrl}}" rel="nofollow">{{companyUrl}}</a></span>) or as may be notified by
                    Licensor to User from time to time.</p>
                <p><br></p>
                <p><strong>Section 11 – Payment Method of Fees</strong></p>
                <p>User is required to pay fees in the manner as prescribed in the respective items below:</p>
                <p>(i) If opting to pay on invoice, User pays the fees by the date specified by Licensor to the bank
                    account specified by Licensor. Transfer charges shall be borne by User. When payment is made on
                    invoice, fees shall be payable on the last day of the month foregoing the month in which the use of
                    Service commences.</p>
                <p>(ii) If paying by credit card or PayPal, User will pay the fees pursuant to the contract with a
                    credit card or PayPal company. In the event of any dispute between or among User, the relevant
                    credit card or PayPal company, a collection agency, a financial institution and/or other party
                    involved, such dispute will be resolved by and among/between the parties involved, without causing
                    Licensor any liability whatsoever. When payment is made by credit card or PayPal, one month's fee
                    shall be paid in advance upon commencement of the use of the Service.</p>
                <p>(iii) In the event of change in the fee rates as provided for in Section 10 in accordance with the
                    utilization situation, the mount charged will also change automatically.</p>
                <p><br></p>
                <p><strong>Section 12 – Applicable Term of the Agreement</strong></p>
                <p>1. Unless a fixed term is agreed upon for the use of Service, the term of the Agreement in respect of
                    the Service commences on the day on which User's registration is completed and the Service is made
                    available to User.</p>
                <p>2. Unless a fixed term is agreed upon for the use of Service, the term of the Agreement in respect of
                    the Service ends on the last day of the month following the month in which User notifies Licensor of
                    its intention to terminate the use of the Service in the case of payment under the preceding
                    Section, item (i), or ends on the day on which User withdraws from the use of the Service in the
                    case of payment under the preceding Section, item (ii).</p>
                <p>3. If a fixed term is agreed upon for the use of Service and neither Licensor nor User notifies the
                    other party of its intention not to renew the term with respect to the Service by the last day of
                    the month preceding to the month in which the term expires, the Agreement shall be deemed to have
                    been renewed with respect to the Service at User's own will and the fees for the renewed term shall
                    become payable and are not refundable.</p>
                <p><br></p>
                <p><strong>Section 13 – Default Interest</strong></p>
                <p>1. In the event that User fails to pay usage fees or any other monetary obligations payable by it on
                    their due dates, User shall pay default interest on any overdue amount at the rate of 14.6% per
                    annum. The amount of the default interest shall be paid in a lump sum together with usage fees and
                    other amounts payable by User on or prior to the date and in the manner specified by Licensor.</p>
                <p>2. Transfer and other charges necessary for the payment under the preceding paragraph shall be solely
                    for the account of User.</p>
                <p><br></p>
                <p><strong>Section 14 – Notification of Fee Rate Revision</strong></p>
                <p>Licensor may, by making notification to User in a manner specified in Section 21 not later than
                    thirty (30) days prior to such date, increase or decrease the fees of the Service, add a fee of the
                    similar service, or impose a fee for service previously free of charge.</p>
                <p><br></p>
                <p><strong>Section 15 – Suspension, Restricted Use or Other Conditions of Service Due to Licensor's
                        Reason or Force Majeure</strong></p>
                <p>Licensor may, when falling under any of the following items, suspend the provision of Service or
                    restrict the use thereof without prior notice:</p>
                <p>(i) When unavoidable for maintenance or construction of Licensor’s equipment;</p>
                <p>(ii) When unavoidable for occurrence of or the prevention against failure or other problems of
                    equipment of Licensor and/or telecommunications operator;</p>
                <p>(iii) In the event of actual or suspected actions, including unauthorized access, cracking or attack
                    to Licensor’s equipment;</p>
                <p>(iv) When Licensor determines that the use of the Service (including the misuse of a third party)
                    could potentially cause adversely affects on the Service, contents of User, third parties and
                    others;</p>
                <p>(v) In the event of natural disaster or other unavoidable circumstances; or</p>
                <p>(vi) When Licensor determines otherwise as may be necessary for the conservation of the Service due
                    to inevitable reasons.</p>
                <p><br></p>
                <p><strong>Section 16 – Suspension, Restricted Use or Other Conditions of Service Due to User's
                        Reason</strong></p>
                <p>When User falls under any of the following items, Licensor may, without prior notice or demand,
                    suspend the provision of Service or restrict the use thereof. In these cases, Licensor is not
                    required to disclose the reason to User.</p>
                <p>(i) When User has failed or potentially will fail to perform his/her obligations under this
                    Agreement;</p>
                <p>(ii) When User has interfered with the operations of the Service;</p>
                <p>(iii) When User has declared a false fact for the use of the Service;</p>
                <p>(iv) When User has committed any of the Prohibition Acts as defined in Section 7;</p>
                <p>(v) When User’s specified credit card is no longer available for use, including due to invalidity
                    thereof; or</p>
                <p>(vi) When User has been terminated by Licensor due to his/her breach of the contract on other
                    services provided by Licensor</p>
                <p><br></p>
                <p><strong>Section 17 – Abolition of Service</strong></p>
                <p>Licensor may, at its own discretion, abolish all or part of the Service by notifying User to that
                    effect via e-mail at the registered e-mail address of User, not later than ninety (90) days prior to
                    the abolishment date. In this case, upon notification sent to User from Licensor, this Agreement
                    will be terminated. In addition, in the event that User, its client or any third party incurs
                    damages by the abolition of the Service based on this Section, Licensor will not be liable for such
                    damages.</p>
                <p><br></p>
                <p><strong>Section 18 – Compensation for Damages</strong></p>
                <p>In the event that User or its client causes damage to Licensor due to a reason listed in the
                    respective following items, Licensor may claim compensation for the damage from User.</p>
                <p>(i) Violating this Agreement or the laws and regulations; or</p>
                <p>(ii) Infringing on the intellectual property rights, including the use of the trademark of Licensor,
                    without obtaining any explicit consent thereof.</p>
                <p><br></p>
                <p><strong>Section 19 – Limitation of Liability</strong></p>
                <p>1. Licensor will not, in any case, be liable to User for any kind of direct, special, consequential,
                    ancillary or indirect damages (including lost profits, loss of data, and procurement cost of
                    replacement equipment). The limitation of liability will not be affected irrespective of whether
                    Licensor has received a notice of the likelihood of the damage or not, or whether or not the
                    occurrence of such damage is attributable to violation or contradiction of any contract, fraudulent
                    act, breach of warranty, negligence, unusable software and any other causes. In addition, if
                    Licensor shall compensate for any damage suffered by User, regardless of the legal nature of the
                    damage, the amount of compensation shall not exceed the amount of usage fees actually paid by User
                    for the six (6) month period immediately preceding the month in which the cause of the damage
                    occurs.</p>
                <p>2. Notwithstanding the disclaimer clauses contained in the preceding paragraph and elsewhere in the
                    Terms of Use, in cases where User falls under the category of "Consumer" defined in Article 2,
                    paragraph 1 of the Consumer Contract Act, Licensor's liability against damages falling under each of
                    the items listed below shall be as follows:</p>
                <p>(i) If Licensor causes damage (except those defined in the following item) to User (deemed as
                    "Consumer") due to its failure to perform its obligation, Licensor is liable to pay the amount of
                    direct and ordinary damage, which amount shall not exceed the amount of fees paid by User.</p>
                <p>(ii) If Licensor causes damage to User (deemed as “Consumer”) due to its failure to perform its
                    obligation (Licensor’s liability for such failure is limited to gross negligence or intentional
                    misconduct of itself, its representative and/or its employees), Licensor is liable to pay the amount
                    of such damage actually incurred by User.</p>
                <p>(iii) Licensor’s liability under the provisions of the Civil Code to compensate for damages caused to
                    User (deemed as “Consumer”) due to its illegal act on the fulfillment to offer Software, Licensor is
                    liable to pay the amount of direct and ordinary damage, not exceeding the amount of fees paid by
                    User as the upper limit.</p>
                <p>(iv) Licensor’s liability under the provisions of the Civil Code to compensate for damages caused to
                    User (deemed as “Consumer”) due to its illegal act on the fulfillment to offer Software (Licensor’s
                    liability for such failure is limited to gross negligence or intentional misconduct of itself, its
                    representative and/or its employees), Licensor is liable to pay the amount of such damage actually
                    incurred by User.</p>
                <p>(v) In the case where the provision of the Software is under an onerous contract and there is any
                    defect hidden in the subject product(s), the damage caused to User (deemed as “Consumer”) by the
                    defect will be replaced with the those with no defect. However, if they are not available, Licensor
                    is liable to pay the amount of damage, not exceeding the amount of fees paid by User as the upper
                    limit.</p>
                <p><br></p>
                <p><strong>Section 20 - Limitation of Utilization Area and Scope</strong></p>
                <p>The utilization area and scope of the Software specified by Licensor are subject to change from time
                    to time depending on the contract(s) that may be entered into by and between Licensor and a third
                    party. As of December 1, 2016, the Software is available for use in all specified regional areas
                    except the United Arab Emirates; in the United Arab Emirates, the Software is not available for use
                    irrespective of its scope of use. If there is any change in the specified regional areas and scope
                    of the Software in the future, Licensor will notify User in a manner specified in Section 21.</p>
                <p><br></p>
                <p><strong>Section 21 - Method of Notification, Etc.</strong></p>
                <p>1. Any notice, demand or other communication from Licensor to User shall be given from time to time
                    in a manner that Licensor may deem appropriate including via e-mail, in writing or through
                    publication on the website for the Service (<span class="nolink"><a class="external-link"
                            href="{{companyUrl}}" rel="nofollow">{{companyUrl}}</a></span>).</p>
                <p>2. The notices via e-mail under the preceding paragraph shall be given to User at its registered
                    e-mail address.</p>
                <p>3. If the notices etc. under the preceding paragraphs shall be given through publication on the
                    website for the Service, the notices etc. shall be deemed to have been delivered to User on the day
                    on which they are published on the website. If the notices etc. shall be given via e-mail, the
                    notices etc. shall be deemed to have been delivered to User upon transmission of the e-mail.</p>
                <p><br></p>
                <p><strong>Section 22 – Revision of Terms of Use</strong></p>
                <p>1. Licensor may revise the Terms of Use at any time, and User agrees to in advance acknowledge this.
                </p>
                <p>2. When revising the Terms of Use, Licensor will notify User of such revision in a manner specified
                    in Section 21.</p>
                <p><br></p>
                <p><strong>Section 23 – Compliance</strong></p>
                <p>In addition to the conditions outlined in the Terms of Use, User agrees to comply with all applicable
                    laws, statues, regulations, and ordinances when using Software.</p>
                <p><br></p>
                <p><strong>Section 24 – Governing Law and Competent Court</strong></p>
                <p>The Terms of Use will be interpreted under and governed by the laws of The Netherlands. The competent
                    court in Amsterdam, the Netherlands, will be the exclusive court of first instance with respect to
                    all disputes arising from or in relation to the Terms of Use and the offer of the Software.</p>
                <p><strong>Supplementary provision</strong></p>
                <p>The Terms of Use will be implemented from November 23, 2018.</p>
                <p>{{legalNameFull}}</p>
                <p><br></p>
                <p><br></p>




            </div>




            <div id="main-content" class="wiki-content" *ngIf="isSpanish()">
<p align="center"><strong>Términos y condiciones aplicables para el uso de la API web de {{legalName}}</strong></p>
<p>
Cada cliente como usuario (&quot;Usuario&quot;) acepta cumplir con todos los términos y condiciones que
se indican a continuación con respecto a la recepción del servicio de entrega de API (&quot;Servicio&quot;)
en la API web de NeoSound (&quot;Software&quot;), un producto de NeoSound Intelligence. B.V.
(&quot;LICENCIANTE&quot;). A los fines del uso del Software, se considera que el Usuario ha aceptado que
es vinculante con las disposiciones de los Términos y Condiciones Aplicables para el Uso de la
API Web de NeoSound (&quot;Términos de Uso&quot;) durante la instalación o el primer uso de El Software
por Usuario.
</p><p>
<strong>Sección 1 - Disposiciones generales</strong>
</p><p>
Los Términos de uso definen los términos y condiciones en la solicitud del Usuario para el
Servicio en línea del LICENCIANTE entre el LICENCIANTE y el Usuario para registrarse como
solicitante.
</p><p>
<strong>Sección 2 - Aplicación</strong>
</p><p>
1. Si el Usuario desea hacer uso del Servicio, debe entender y aceptar los Términos de uso y
realizar la solicitud del Servicio de la manera especificada por el LICENCIANTE.
</p><p>
2. Si el LICENCIANTE acepta la solicitud por parte del Usuario como se indica en el párrafo
anterior, El LICENCIANTE notificará al Usuario a tal efecto de la manera especificada por el
LICENCIANTE.
</p><p>
3. Para los fines de la solicitud del Servicio como se indica en el párrafo 1 anterior, se requiere
que el Usuario registre de antemano los artículos enumerados a continuación para el
LICENCIANTE, y lo mismo se aplica a un cambio en los artículos a continuación. Los daños
debidos a la ausencia del registro serán exclusivamente a cargo del Usuario.
</p><p>
( i ) nombre comercial (nombre comercial), nombre, nombre y dirección del representante;
</p><p>
(ii) nombre, dirección de correo electrónico o número de teléfono de una persona responsable
del uso del Servicio u otros asuntos que especifique el LICENCIANTE;
</p><p>
(iii) propósito del uso del Software; y
</p><p>
(iv) otros asuntos relacionados con las operaciones del Usuario según lo especificado por el
LICENCIANTE
</p><p>
<strong>Sección 3 - Derecho de uso del software</strong>
</p><p>
De acuerdo con los términos y condiciones especificados en los Términos de uso,
LICENCIANTE otorga al Usuario el derecho no exclusivo de usar el Software, en un sistema
informático específico y pre-registrado, con el único propósito de desarrollar un sistema de
usuario que utilice el Software. Aunque el software está equipado con una funcionalidad para
detectar emociones, los resultados de la detección y el reconocimiento de emociones pueden
diferir según el entorno en el que se utiliza el software y el sistema operativo en el que se utiliza
el software.
</p><p>
<strong>Sección 4 - Sistema de Ventas y Distribución de Desarrollo.</strong>
</p><p>
El usuario puede vender o distribuir a un tercero cualquier sistema creado por él mismo usando
el Software de acuerdo con la Sección 3. El Usuario no puede, en ningún caso, sublicenciar,
distribuir, arrendar o transferir el Software (consulte la Sección 7, artículo (ii)).
</p><p>

<strong>Sección 5 - Protección de los derechos de propiedad intelectual del software</strong>
</p><p>
1. Todos los derechos de propiedad intelectual, incluidos los derechos de autor, derechos de
patente, marcas comerciales y otros derechos similares, relacionados con el Software son
atribuibles al LICENCIANTE.
</p><p>
2. El Usuario acepta que todos los derechos de propiedad intelectual relacionados con el
Software y sus copias no son transferibles al Usuario, de conformidad con las disposiciones de
los Términos de uso y otras disposiciones de los documentos relacionados.
</p><p>
<strong>Sección 6 - Confidencialidad</strong>
</p><p>
El usuario reconoce que el software es información secreta y confidencial que es propiedad de
LICENCIANTE. El Usuario acuerda mantener el secreto y la confidencialidad al no permitir el
acceso al Software a terceros que no sean empleados y representantes del Usuario que tengan
una necesidad legítima de acceder al Software para realizar sus tareas oficiales. El usuario
implementará todas las medidas necesarias para proteger el Software del acceso y uso no
autorizados.
</p><p>
<strong>Sección 7 - Actos prohibidos</strong>
</p><p>
El usuario tiene prohibido realizar cualquiera de los actos tal como se especifica en los
siguientes artículos:
</p><p>
(i) Usar cualquier sistema informático que no sea el sistema informático designado que se haya
registrado en el Software;
</p><p>
(ii) En cualquier caso, sublicenciar, distribuir, arrendar o transferir el Software, y tomar cualquier
acción para infringir los derechos del LICENCIANTE en relación con asuntos fuera del alcance
que se especifican explícitamente en los Términos de uso, incluidos, entre otros, a duplicación,
edición, modificación, análisis, publicación, difusión, exhibición, distribución, transferencia,
alquiler, traducción, adaptación, transmisión, reimpresión, grabación, re-licencia, registro de
derechos, y aplicaciones, etc .;
</p><p>
(iii) Intentar derivar o crear el programa fuente a partir del programa objeto, ya sea por
compilación inversa, desensamblaje, ingeniería inversa o de otro tipo;
</p><p>
(iv) Copiar, o reproducir de otro modo, el Software en un sistema o medio que no sea el sistema
informático especificado;
</p><p>
(v) Exportación de software a cualquier país extranjero;
</p><p>
(vi) Transferencia, préstamo o disposición de cualquier otra forma del Software a cualquier
tercero;
</p><p>
(vii) Utilizar software con el propósito de calumniar, discriminar o dañar a un tercero;
</p><p>
(viii) Utilizar software con el propósito de infringir la privacidad de un tercero; y
</p><p>
(ix) Usar el software para cualquier otro propósito que viole la ley o la política pública.
Sección 8 - Responsabilidad
</p><p>
El usuario acepta utilizar el Software a su propio riesgo. El Usuario será responsable de los
daños sufridos por el LICENCIANTE si el Usuario utiliza el Software en violación de cualquier
parte de los Términos de uso.
</p><p>

<strong>Sección 9 - Adquisición de datos de voz</strong>
</p><p>
El LICENCIANTE puede usar los datos de voz enviados desde el sistema de desarrollo creado
por el Usuario únicamente con el propósito de mejorar la precisión del Software.
</p><p>
El LICENCIANTE se preocupa por la integridad y seguridad de los datos de voz del cliente, así
como otra información relacionada y datos personales. Usted reconoce que es el único
responsable de cualquier daño personal o a la propiedad que surja de o esté relacionado con el
uso del Software. Los datos de voz recopilados por el licenciante sólo podrían llegar a
divulgarse bajo los siguientes supuestos:
</p><p>
<strong>Por Ley</strong>
</p><p>
Si la divulgación de los datos de voz o cualquier información recopilada es para responder a un
proceso legal, para investigar o remediar posibles violaciones de nuestras políticas, o para
proteger los derechos, la propiedad y la seguridad de otros. En ese caso podemos compartir su
información según lo requerido por cualquier ley, norma o reglamento aplicable.
</p><p>
<strong>Sección 10 - Tarifas de uso</strong>
</p><p>
El método de cálculo y los montos de las tarifas de uso, tarifas opcionales y otras tarifas y
gastos pagaderos por el Servicio, incluidos los no especificados en los Términos de uso, serán
los especificados en el sitio web de LICENCIANTE para el Servicio (<a class="external-link"
href="https://NeoSound.eu" target="_blank">https://NeoSound.eu</a>) o
como pueda ser notificado por el LICENCIANTE al Usuario de vez en cuando.
</p><p>
<strong>Sección 11 - Método de pago de honorarios</strong>
</p><p>
El usuario debe pagar las tarifas de la manera prescrita en los artículos respectivos a
continuación:
</p><p>
(i) Si opta por pagar en la factura, el Usuario paga las tarifas en la fecha especificada por el
LICENCIANTE en la cuenta bancaria especificada por el LICENCIANTE. Los gastos de
transferencia correrán a cargo del Usuario. Cuando el pago se realice en la factura, las tarifas
se pagarán el último día del mes anterior al mes en que comience el uso del Servicio.
</p><p>
(ii) Si paga con tarjeta de crédito o PayPal, el Usuario pagará las tarifas conforme al contrato
con una tarjeta de crédito o compañía de PayPal. En el caso de cualquier disputa entre o entre
el Usuario, la tarjeta de crédito o la compañía de PayPal, una agencia de cobranza, una
institución financiera y / u otra parte involucrada, dicha disputa se resolverá entre las partes
involucradas, entre las partes involucradas, sin que el LICENCIANTE sea responsable Cualquier
responsabilidad alguna. Cuando el pago se realice con tarjeta de crédito o PayPal, se pagará
por adelantado la tarifa de un mes al inicio del uso del Servicio.
</p><p>
(iii) En el caso de un cambio en las tarifas según lo dispuesto en la Sección 10 de acuerdo con
la situación de utilización, el soporte cargado también cambiará automáticamente.
</p><p>
<strong>Sección 12 - Término aplicable del acuerdo</strong>
</p><p>
1. A menos que se acuerde un término fijo para el uso del Servicio, el término del Acuerdo con
respecto al Servicio comienza el día en que se completa el registro del Usuario y el Servicio se
pone a disposición del Usuario.
</p><p>
2. A menos que se acuerde un término fijo para el uso del Servicio, el término del Acuerdo con
respecto al Servicio finaliza el último día del mes siguiente al mes en que el Usuario notifique al
LICENCIANTE su intención de finalizar el uso del Servicio. Servicio en el caso de pago según la
Sección anterior, artículo (i), o finaliza el día en que el Usuario se retira del uso del Servicio en el
caso de pago bajo la Sección anterior, artículo (ii).
</p><p>
3. Si se acuerda un plazo fijo para el uso del Servicio y ni el LICENCIANTE ni el Usuario notifican
a la otra parte su intención de no renovar el término con respecto al Servicio antes del último
día del mes anterior al mes en el que el plazo expira, se considerará que el Acuerdo ha sido
renovado con respecto al Servicio a voluntad propia del Usuario y las tarifas del plazo renovado
serán pagaderas y no serán reembolsables.
</p><p>
<strong>Sección 13 - Interés por incumplimiento</strong>
</p><p>
1. En el caso de que el Usuario no pague las tarifas de uso u otras obligaciones monetarias
pagaderas por él en sus fechas de vencimiento, el Usuario pagará los intereses por defecto
sobre cualquier monto vencido a una tasa del 14.6% anual. La cantidad del interés por defecto
se pagará en una suma global junto con las tarifas de uso y otras cantidades pagaderas por el
Usuario en o antes de la fecha y en la forma especificada por el LICENCIANTE.
</p><p>
2. La transferencia y otros cargos necesarios para el pago conforme al párrafo anterior serán
únicamente por cuenta del Usuario.
</p><p>
<strong>Sección 14 - Notificación de revisión de tarifa de servicio</strong>
</p><p>
El LICENCIANTE puede, al notificar al Usuario de la manera especificada en la Sección 21 a más
tardar treinta (30) días antes de dicha fecha, aumentar o disminuir las tarifas del Servicio,
agregar una tarifa del servicio similar o imponer una tarifa por Servicio previamente gratuito.
</p><p>
<strong>Sección 15 - Suspensión, uso restringido u otras condiciones de servicio debido a la razón del
LICENCIANTE o fuerza mayor</strong>
</p><p>
El LICENCIANTE puede, al cumplirse las condiciones de cualquiera de los siguientes artículos,
suspender la prestación del Servicio o restringir el uso del mismo sin previo aviso:
</p><p>
(i) Cuando sea inevitable para el mantenimiento o construcción del equipo del LICENCIANTE;
</p><p>
(ii) Cuando sea inevitable por la ocurrencia o la prevención contra fallas u otros problemas del
equipo del LICENCIANTE y/o del operador de telecomunicaciones;
</p><p>
(iii) En el caso de acciones reales o sospechosas, incluido el acceso no autorizado, craqueo o
ataque al equipo del LICENCIANTE;
</p><p>
(iv) Cuando el LICENCIANTE determina que el uso del Servicio (incluyendo el mal uso de un
tercero) podría causar potencialmente afecta negativamente en el servicio, contenido de
Usuario, a terceros y otros;
</p><p>
(v) En caso de desastre natural u otras circunstancias inevitables; o
</p><p>
(vi) Cuando el LICENCIANTE determine lo contrario como sea necesario para la conservación
del Servicio debido a razones inevitables.
</p><p>
<strong>Sección 16 - Suspensión, uso restringido u otras condiciones de servicio debido a la razón del
usuario</strong>
</p><p>
Cuando el Usuario cumpla cualquiera de los siguientes supuestos, el LICENCIANTE puede, sin
previo aviso o exigir, suspender la prestación del Servicio o restringir el uso del mismo. En estos
casos, el LICENCIANTE no está obligado a revelar el motivo al Usuario.
</p><p>
(i) Cuando el Usuario haya fallado o potencialmente no cumpa con sus obligaciones bajo este
Acuerdo;
</p><p>
(ii) cuando el Usuario haya interferido con las operaciones del Servicio;
</p><p>
(iii) cuando el Usuario haya declarado un hecho falso por el uso del Servicio;
</p><p>
(iv) Cuando el Usuario haya cometido cualquiera de las Leyes de Prohibición como se define en
la Sección 7;
</p><p>
(v) Cuando la tarjeta de crédito especificada por el Usuario ya no está disponible para su uso,
incluso debido a su invalidez; o
</p><p>
(vi) Cuando el LICENCIANTE haya rescindido al Usuario debido a su incumplimiento del
contrato en otros servicios prestados por el LICENCIANTE.
</p><p>
<strong>Sección 17 - Cancelación del servicio</strong>
</p><p>
El LICENCIANTE puede, a su propia discreción, cancelar todo o parte del Servicio notificando al
Usuario a tal efecto por correo electrónico a la dirección de correo electrónico registrada del
Usuario, a más tardar noventa (90) días antes de la fecha de abolición. En este caso, luego de la
notificación enviada al Usuario por parte del LICENCIANTE, este Acuerdo se terminará. Además,
en el caso de que el Usuario, su cliente o un tercero incurra en daños por la supresión del
Servicio basado en esta Sección, el LICENCIANTE no será responsable de dichos daños.
</p><p>
<strong>Sección 18 - Compensación por daños y perjuicios</strong>
</p><p>
En el caso de que el Usuario o su cliente causen daños al LICENCIANTE debido a una razón que
se menciona en los siguientes artículos, el LICENCIANTE puede reclamar una compensación
por los daños del Usuario.
</p><p>
(i) Violar este Acuerdo o las leyes y regulaciones; o
</p><p>
(ii) Infringir los derechos de propiedad intelectual, incluido el uso de la marca comercial del
LICENCIANTE, sin obtener su consentimiento explícito.
</p><p>
<strong>Sección 19 - Limitación de responsabilidad</strong>
</p><p>
1. En cualquier caso, el LICENCIANTE no será responsable ante el Usuario por ningún tipo de
daños directos, especiales, emergentes, indirectos o indirectos (incluida la pérdida de
beneficios, la pérdida de datos y el costo de adquisición del equipo de reemplazo). La limitación
de responsabilidad no se verá afectada independientemente de si el LICENCIANTE ha recibido
una notificación de la probabilidad de daño o no, o si la ocurrencia de dicho daño es imputable
a la violación o contradicción de cualquier contrato, acto fraudulento, incumplimiento de la
garantía., negligencia, software inutilizable y cualquier otra causa. Además, si el
LICENCIANTE compensara cualquier daño sufrido por el Usuario, independientemente de la
naturaleza legal del daño, el importe de la compensación no deberá exceder el importe de las
tarifas de uso realmente pagadas por el Usuario durante el período de seis (6) meses
inmediatamente anterior al Mes en el que se produce la causa del daño.
</p><p>
2. A pesar de las cláusulas de exención de responsabilidad contenidas en el párrafo anterior y
en otras partes de los Términos de uso, en los casos en que el Usuario se encuentre en la
categoría de &quot;Consumidor&quot; definida en el Artículo 2, párrafo 1 de la Ley de Contratos con el
Consumidor, la responsabilidad del LICENCIANTE contra los daños incluidos en Cada uno de
los elementos enumerados a continuación será el siguiente:
</p><p>
(i) Si el LICENCIANTE causa daños (excepto los definidos en el siguiente artículo) al Usuario
(considerado como &quot;Consumidor&quot;) debido a su incumplimiento de su obligación, el
LICENCIANTE debe pagar la cantidad del daño directo y ordinario, cantidad que deberá No
excederá el monto de las tarifas pagadas por el Usuario.
</p><p>

(ii) Si el LICENCIANTE causa un daño al Usuario (considerado como &quot;Consumidor&quot;) debido a su
incumplimiento de su obligación (la responsabilidad del LICENCIANTE por dicho
incumplimiento se limita a negligencia grave o mala conducta intencional de sí mismo, su
representante y / o sus empleados), El LICENCIANTE está obligado a pagar la cantidad de los
daños en que realmente incurrió el usuario.
</p><p>
(iii) La responsabilidad del LICENCIANTE en virtud de las disposiciones del Código Civil para
compensar los daños causados al Usuario (considerado como &quot;Consumidor&quot;) debido a su acto
ilegal en el cumplimiento de la oferta del Software, el LICENCIANTE es responsable de pagar la
cantidad del daño directo y ordinario. , que no exceda la cantidad de tarifas pagadas por el
Usuario como límite superior.
</p><p>
(iv) La responsabilidad del LICENCIANTE en virtud de las disposiciones del Código Civil para
compensar los daños causados al Usuario (considerado como &quot;Consumidor&quot;) debido a su acto
ilegal en el cumplimiento de la oferta de Software (La responsabilidad del LICENCIANTE por
dicho incumplimiento se limita a negligencia grave o intencional mala conducta de sí mismo, su
representante y / o sus empleados), el LICENCIANTE está obligado a pagar la cantidad de los
daños en los que realmente incurrió el Usuario.
</p><p>
(v) En el caso de que la provisión del Software esté bajo un contrato oneroso y haya algún
defecto oculto en el (los) producto (s) en cuestión, el daño causado al Usuario (considerado
como &quot;Consumidor&quot;) por el defecto será reemplazado por Los que no tienen defecto. Sin
embargo, si no están disponibles, el LICENCIANTE está obligado a pagar la cantidad del daño,
sin exceder la cantidad de las tarifas pagadas por el Usuario como límite superior.
</p><p>
<strong>Sección 20 - Limitación del área de utilización y alcance</strong>
</p><p>
El área de utilización y alcance del Software especificado por el LICENCIANTE están sujetos a
cambios de vez en cuando dependiendo del contrato (s) que se puede introducir por y entre
LICENCIANTE y un tercero. A partir del 1 de diciembre de 2016, el Software está disponible para
su uso en todas las áreas regionales específicas, excepto en los Emiratos Árabes Unidos; en los
Emiratos Árabes Unidos, el Software no está disponible para su uso independientemente de su
alcance de uso. Si se produce algún cambio en las áreas regionales y el alcance del Software
en el futuro, el LICENCIANTE notificará al Usuario de la manera especificada en la Sección 21.
Sección 21 - Método de notificación, etc.
</p><p>
1. Cualquier notificación, demanda u otra comunicación del LICENCIANTE al Usuario se enviará
de vez en cuando de una manera que el LICENCIANTE considere apropiada, incluso por correo
electrónico, por escrito o mediante publicación en el sitio web del Servicio
(https://NeoSound.eu).
</p><p>
2. Los avisos por correo electrónico en virtud del párrafo anterior se entregarán al Usuario en su
dirección de correo electrónico registrada.
</p><p>
3. Si los avisos, etc., de acuerdo con los párrafos anteriores se entregarán mediante la
publicación en el sitio web del Servicio, se considerará que los avisos, etc., se han entregado al
Usuario el día en que se publican en el sitio web. Si los avisos, etc., se enviarán por correo
electrónico, los avisos, etc., se considerarán entregados al Usuario tras la transmisión del
correo electrónico.
</p><p>
<strong>Sección 22 - Revisión de los Términos de Uso</strong>
</p><p>
1. El LICENCIANTE puede revisar los Términos de uso en cualquier momento, y el Usuario
acepta reconocerlo de antemano.
</p><p>
2. Al revisar los Términos de uso, el LICENCIANTE notificará al Usuario de dicha revisión de la
manera especificada en la Sección 21.
</p><p>
<strong>Sección 23 - Cumplimiento</strong>
</p><p>
Además de las condiciones descritas en los Términos de uso, el Usuario acepta cumplir con
todas las leyes, estatutos, reglamentos y ordenanzas aplicables al usar el Software.
Sección 24 - Ley aplicable y tribunal competente
Los Términos de uso se interpretarán y regirán por las leyes de los Países Bajos. El tribunal
competente en Ámsterdam, Países Bajos, será el tribunal exclusivo de primera instancia con
respecto a todas las disputas que surjan de o en relación con los Términos de uso y la oferta
del Software.
</p><p>
<strong>Disposición complementaria</strong>
</p><p>
Los Términos de uso se implementarán a partir del 23 de noviembre de 2018.
</p><p>
NeoSound Intelligence B.V.
</p>
            </div>
        </div>
    </nb-card-body>
</nb-card>