<h1>Files list</h1>
<div class="alert alert-danger" *ngIf="errorMessage">Error: {{errorMessage}}</div>
<div *ngIf="files" class="mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Batch Id</th>
          <th>Name</th>
          <th>Uploaded</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files">
        <td>{{ item.batchid}}</td>
        <td>{{ item.filename}}</td>
        <td>{{item.uploaddate | date}}</td>
        <td><a [routerLink]="getLink(item)">File details</a></td>
      </tr>
    </tbody>
  </table>
  <button class="btn mt-3 btn-secondary" (click)="refresh()">Refresh</button>
</div>