td {
	line-height: 34px;
}
.ngx-datepicker-container {
	z-index: 9999;
}
.form-control:disabled {
	background-color: #e9ecef!important;
}
.btn.c-normal {
	color: #2a2a2a;
}
.input-group .form-control-bak:first-child {
	.ngx-datepicker-input {
		border-top-left-radius: 0.375rem;
		border-bottom-left-radius: 0.375rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.input-group .form-control-bak:last-child {
	.ngx-datepicker-input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 0.375rem;
		border-bottom-right-radius: 0.375rem;
	}
}
.input-group .form-gr-first {
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group .form-gr-last {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
.input-group > .form-control-bak {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
#side-filter {
	&.scrolled {
		// top: 75px;
	}
}
.min-h-filter {
	min-height: 500px;
}
.text-wrap {
	text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
}
.text-one-line {
    white-space: nowrap;
}
