:host {
  .outsideWrapper {
    height: 25vw;
    width: 45vw;
  }
  .insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 599;
    cursor: pointer;
  }
}
