<nb-card>
  <nb-card-body>
    <ng-container *ngIf="filename && batchid">
      <ngx-file-info [batchId]="batchid" [fileName]="filename"></ngx-file-info>
    </ng-container>
    <div class="tabset">
      <ul>
        <li class="active">
          <a href="">
            Player
          </a>
        </li>
        <li>
          <a [routerLink]="getLink()">Analytics
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-column" *ngIf="currentView === 'player'">
      <ng-container *ngIf="filename && batchid; else loading">
        <ngx-player [fileName]="filename" [batchId]="batchid"></ngx-player>
      </ng-container>
      <div style="overflow-y: auto;">
        <div style="height: 54vh;">
          <ngx-text-log [batchId]="batchid" [fileName]="filename" (goToRegion)="goToRegion($event)"></ngx-text-log>
        </div>
      </div>
    </div>
    <ng-template #loading>
      {{ t("Loading...") }}
    </ng-template>
  </nb-card-body>
</nb-card>