<nb-card>
  <nb-card-body class="nb-card-body__fixed">
    <ng-container *ngIf="filename && batchid">
      <ngx-file-info [batchId]="batchid" [fileName]="filename"></ngx-file-info>
    </ng-container>
    <div class="tabset hide-on-print">
      <ul>
        <li class="active">
          <a href="">
            Transcript
          </a>
        </li>
        <li>
          <a [routerLink]="getLink()">Analytics
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-column">
      <ngx-player class="hide-on-print" [fileName]="filename" [batchId]="batchid"></ngx-player>
      <div class="d-flex flex-row justify-content-between">
        <ngx-text-log style="width: 100%;" [batchId]="batchid" [fileName]="filename" (goToRegion)="goToRegion($event)"></ngx-text-log>
        <div class="w-25" *ngIf="showComments">
          <ngx-check-list [batchId]="batchid" [fileName]="filename"></ngx-check-list>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div style="position: absolute; top: 48%; right: 0; background-color: white; z-index: 999; display: flex; flex-flow: column;" class="border hide-on-print">
  <button class="btn p-2 m-2" style="cursor: pointer; color: #2a2a2a;z-index: 99;" (click)="showComments = !showComments"><i class="far fa-comment-alt"></i></button>
  <button class="btn p-2 m-2" style="cursor: pointer; color: #2a2a2a;z-index: 99;" (click)="print()"><i class="fas fa-print"></i></button>
</div>