<div class="row">
  <div class="col-md-12">
    <h2>{{t('Sign in')}}</h2>
    <form [formGroup]="form">
      <div class="form-group row">
        <label for="inputEmail1" class="col-sm-3 col-form-label">{{t('Username')}}</label>
        <div class="col-sm-9">
          <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
            id="inputEmail1" placeholder="{{t('Username')}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="col-sm-3 col-form-label">{{t('Password')}}</label>
        <div class="col-sm-9">
          <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control"
            id="inputPassword2" placeholder="{{t('Password')}}">
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <div class="checkbox">
            <nb-checkbox>{{t('Remember me')}}</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-primary" (click)="login()">{{t('Sign in')}}</button>
        </div>
      </div>

      <div class="form-group row" *ngIf="messageSuccess">
        <div class="alert alert-info col-12 text-center mt-1">{{messageSuccess}}</div>
      </div>
      <div class="form-group row" *ngIf="message">
        <div class="alert alert-danger col-12 text-center mt-1">{{message}}</div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <div class="col-sm-12 text-left p-0">
            {{t("Don't have an account?")}} <a routerLink="/auth/sign-up"
              class="text-info m-l-5"><b>{{t('Sign Up')}}</b></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>