<ng-template #confirmModal>
  <div class="modal-header">
    {{t('Interrupt or Proceed Recording?')}}
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-right">
      <button class="btn btn-link btn-secondary mr-3" (click)="process(templateModal)">{{t('Interrupt')}}</button>
      <button class="btn btn-primary" (click)="interrupt(templateModal)">{{t('Proceed')}}</button>
    </div>
  </div>
</ng-template>

<ng-template #templateModal>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': modalType === 'upload'}"
        (click)="mediaRecorderService.isRecording ? showModal(confirmModal, 'confirmModal', true) : showModal(templateModal, 'upload', false)">{{t('Upload Audio')}}</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': modalType === 'upload-text'}"
        (click)="mediaRecorderService.isRecording ? showModal(confirmModal, 'confirmModal', true) : showModal(templateModal, 'upload-text', false)">{{t('Upload Text')}}</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': modalType === 'record'}"
        (click)="showModal(templateModal, 'record', false)">{{t('Record')}}</button>
    </div>
    <div class="mt-3">
      <div class="alert alert-success" *ngIf="successMessage">
        {{t(successMessage)}}
      </div>
      <div *ngIf="modalType === 'upload'">
        <div class="row">
          <div class="col my-2">
              <input type="text" class="form-control">
          </div>
        </div>
        <div class="center">
          <div class="drop-zone-wrap">
            <file-drop *ngIf="!files.length" dropZoneLabel="{{t('Drop file here or click to browse')}}"
              (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
              <span></span>
              <input type="file" id="file" multiple (change)="handleFileInput($event.target.files)">
            </file-drop>
          </div>
          <div class="upload-table">
            <table class="table">
              <thead>
                <tr>
                  <th>{{t('Name')}}</th>
                </tr>
              </thead>
              <tbody class="upload-name-style">
                <tr *ngFor="let item of fileNames; let i=index">
                  <td><strong>{{ item }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="files.length" class="text-right">
            <button class="btn btn-link btn-secondary mr-3" (click)="discard()">{{t('Discard')}}</button>
            <button [disabled]="selectedBatchId !== ''" class="btn btn-primary" (click)="attachFiles()">{{t('Attach')}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="modalType === 'upload-text'">
      </div>
      <div *ngIf="modalType === 'record'">
        <div class="">
          <ng-container *ngIf="!mediaRecorderService.isRecording && !mediaRecorderService.isRecorded">
            <div class="w-100 text-center" style="height: 42px;">
              <h1 class="time">00:00</h1>
            </div>
            <a (click)="record()" class="w-100 text-center" style="display:block;">
              <svg class="button" expanded="true" height="300px" width="300px">
                <circle cx="50%" cy="50%" r="80px"></circle>
              </svg>
            </a>
          </ng-container>
          <ng-container *ngIf="!!mediaRecorderService.isRecording && !mediaRecorderService.isRecorded">
            <div class="w-100 text-center" style="height: 42px;">
              <h1 class="time">{{mediaRecorderService.ticks | minutesSeconds}}</h1>
            </div>
            <a (click)="stop()" class="w-100 text-center" style="display:block;">
              <h4>{{t('Recording')}}...</h4>
              <div id="siri-container"></div>
              <svg class="button" expanded="true" height="300px" width="300px">
                <rect x="70px" y="38px" height="160px" width="160px" rx="10" ry="10"></rect>
                <rect class="pulse" x="50%" y="50%"></rect>
              </svg>
            </a>
          </ng-container>
          <ng-container *ngIf="mediaRecorderService.isRecorded">
            <div class="w-100 text-center" style="height: 42px;">
              <h1 class="time">{{mediaRecorderService.ticks | minutesSeconds}}</h1>
            </div>
            <a (click)="play()" *ngIf="!isPlaying" class="w-100 text-center mt-5" style="display:block;">
              <i class="fa fa-play" style="width: 300px; height: 200px; color: #f44247; font-size: 150px;"></i>
            </a>
            <a (click)="stopPlaying()" *ngIf="isPlaying" class="w-100 text-center mt-5" style="display:block;">
              <i class="fa fa-stop" style="width: 300px; height: 200px; color: #f44247; font-size: 150px;"></i>
            </a>
            <div class="mt-3 mb-1">
              <input [(ngModel)]="filename" disabled="disabled" [ngModelOptions]="{standalone: true}" type="text"
                class="form-control" id="filename" placeholder="{{t('File name')}}">
            </div>

            <div class="text-right">
              <button class="btn btn-link btn-secondary mr-3" (click)="discard()">{{t('Discard')}}</button>
              <button class="btn btn-primary" (click)="attach()">{{t('Attach')}}</button>
            </div>
          </ng-container>

          <div class="timer">
            {{mediaRecorderService.timer}}
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>