<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button
      class="btn btn-secondary mt-2"
      style="cursor: pointer; padding: 0.5rem 0.75rem;"
      (click)="relaunch()"
    >
      {{ t("Relaunch transcription processing") }}
    </button>
    <button
      class="btn btn-primary mt-2 ml-2"
      style="cursor: pointer; padding: 0.5rem 0.75rem;"
      (click)="save()"
    >
      {{ t("Save") }}
    </button>
  </div>
</div>
<div style="overflow-y: auto; overflow-x: hidden;">
  <div style="height: 80vh;">
    <div class="loader" *ngIf="isLoading">{{ t("Loading...") }}</div>
    <div *ngIf="rules && !isLoading">
      <div class="row mb-2" *ngFor="let rule of rules; let i = index">
        <div class="col-2">
          <input
            [(ngModel)]="rules[i].result"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class=""
            placeholder="{{ t('Search') }}"
            class="form-control form-control-lg mt-2"
          />
        </div>
        <div class="col-10">
          <div class="border my-2">
            <div style="overflow-y: auto;">
              <div style="height: 15vh;">
                <tag-input
                  [(ngModel)]="rules[i].keywords"
                  [editable]="true"
                  theme="minimal"
                  [separatorKeys]="[',']"
                  [separatorKeyCodes]="[13]"
                  (onAdd)="onItemAdd($event, i)"
                  (onBlur)="onItemAdd($event, i)"
                  (onRemove)="onItemRemove($event, i)"
                >
                </tag-input>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button
            class="btn btn-secondary mt-2"
            style="cursor: pointer; padding: 0.5rem 0.75rem;"
            (click)="removeRule(i)"
          >
            {{ t("Remove rule") }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button
          class="btn btn-primary mt-2"
          style="cursor: pointer; padding: 0.5rem 0.75rem;"
          (click)="addRule()"
        >
          {{ t("add rule") }}
        </button>
      </div>
    </div>
  </div>
</div>
