<div *ngIf="!loading; else loadingTemplate">
  <div class="row">
    <div class="col-6 mb-3" *ngIf="show('assTotalCalls')">
      <ngx-assessment-ncalls-by-question></ngx-assessment-ncalls-by-question>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assTotalCallsUsedScripts')">
      <ngx-assessment-ncalls-and-npositive-by-question></ngx-assessment-ncalls-and-npositive-by-question>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assNStagesReached')">
      <ngx-assessment-reached-stages-bar></ngx-assessment-reached-stages-bar>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assNStagesReachedStack')">
      <ngx-assessment-reached-stages-bar-stacked></ngx-assessment-reached-stages-bar-stacked>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assScoreByStages')">
      <ngx-assessment-avgscore-by-agent-question-bar></ngx-assessment-avgscore-by-agent-question-bar>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assScoreByStagesStack')">
      <ngx-assessment-avgscore-by-agent-question-bar-stacked></ngx-assessment-avgscore-by-agent-question-bar-stacked>
    </div>
    <div class="col-6 mb-3" *ngIf="show('assScoreByAgent')">
      <ngx-assessment-avgscore-by-agent></ngx-assessment-avgscore-by-agent>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  {{ t("Loading...") }}
</ng-template>
<div class="border" style="position: absolute; top: 50%; right: 0; background-color: white;">
  <button (click)="showModal(configModal)" class="btn p-2 m-2" style="color: #2a2a2a;"><i
    class="fas fa-cog"></i></button>
</div>

<ng-template #configModal>
  <div class="modal-header">
    {{t('Dashboard config')}}
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 py-3">
        <input type="text" placeholder="{{t('Agent Id')}}" [typeahead]="batchesCalls" [typeaheadMinLength]="0"
               class="form-control form-control-lg" [(ngModel)]="selectedValue" (typeaheadOnSelect)="onSelect($event)"
               [ngModelOptions]="{standalone: true}">
      </div>
      <ul class="col-12 py-3 list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center w-100"
            *ngFor="let id of selectedBatches">{{id}}<button type="button" class="close ml-2" aria-label="Close"
                                                             (click)="onRemove(id)">
          <span aria-hidden="true">&times;</span>
        </button></li>
      </ul>
      <div class="col-12 py-3">
        <div class="mb-2">{{t('Date range')}}</div>
        <div class="input-group">
          <input bsDaterangepicker [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg" style="padding: 5px 10px; border: 1px solid #dfe3e9;"
                 placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <button class="btn btn-primary mr-3" (click)="updateData()">{{t('Apply')}}</button>
          <button class="btn btn-link btn-secondary" (click)="hideModal()">{{t('Close')}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
