<div class="loader-wrapper" *ngIf="isLoading">
    <div class="loader">Loading...</div>
</div>

<div class="row">
    <div class="col-1 d-flex align-items-center justify-content-center">
        <button [disabled]="isLoading" class="btn btm-sm btn-primary mx-2" (click)="play()" style="border-radius: 20px;
                height: 40px;
                width: 40px;
                padding: 11px;">
            <i *ngIf="!playing" class="fa fa-play"></i>
            <i *ngIf="playing" class="fa fa-pause"></i>
        </button></div>

    <div *ngIf="id" class="col-11 my-2">
        <div [id]="id">
        </div>
        <div id="timelineContainer"></div>
    </div>
    <!-- <div class="col-2 my-2">
        <div class="alert alert-success" role="alert">
            <p class="alert-heading my-0">Hot tip!</p>
            <hr style="margin-bottom: 0.3rem;margin-top: 0.3rem;">
            <p class="mb-0">Can I give you a 10% discount to keep your business?</p>
        </div>
    </div> -->
</div>