<div class="loader-wrapper" *ngIf="isLoading">
    <div class="loader">Loading...</div>
</div>
<div class="my-2">
    <div id="waveform">
    </div>
    <div id="timelineContainer"></div>
</div>
<div class="d-flex flex-row py-2">
    <button [disabled]="isLoading" class="btn btm-sm btn-primary mx-2" (click)="play()" style="
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 11px;
    ">
        <i *ngIf="!playing" class="fa fa-play"></i>
        <i *ngIf="playing" class="fa fa-pause"></i>
    </button>
</div>