<div class="main-wrapper">
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../assets/images/big/auth-bg.jpg) no-repeat center center;">
      <div class="auth-box">
          <div id="loginform">
              <h2>Forgot Password</h2>
              <!-- Form -->
              <div class="row">
                  <div class="col-12">
                      <form class="form-horizontal m-t-20" id="loginform" [formGroup]="form">
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">@</span>
                              </div>
                              <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-lg" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
                          </div>
                          <div class="form-group text-center">
                              <div class="col-xs-12 p-b-20">
                                  <button class="btn btn-block btn-lg btn-info" (click)="submit()">Submit</button>
                              </div>
                          </div>

                          <div class="form-group text-center" *ngIf="message">
                            <div class="col-xs-12 p-b-20">
                                    <div class="alert alert-danger">{{message}}</div>
                            </div>
                          </div>
                          <div class="form-group m-b-0 m-t-10">
                              <div class="col-sm-12 text-center">
                                  <a routerLink="/auth/login" class="text-info m-l-5"><b>Login?</b></a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
