<div class="card h-100">
  <div class="card-header">{{t('File Upload Instructions')}}</div>
  <div class="card-body">
    <div class="" style="overflow-y: auto; max-height: 400px;">
      <div *ngIf="isEnglish()">
        <h4 class="card-text" style="line-height: 2.0;">{{t('SFTP Upload')}}</h4>
        <ul style="line-height: 2.0;">
          <li>Host: <strong>{{host}}, port: 22</strong></li>
          <li>{{t('Username and password - your account credentials.')}}</li>
          <li>
            {{t("Once connected, please go to folder ‘/files', and create or upload the separate sub-folders inside the folder ‘/files’,  per each agent, e.g. '/files/’.")}}
          </li>
          <li>
            {{t("The recorded calls should be upload to an agent folder inside the folder ‘/files’, e.g. '/files/agent_id. ")}}
            <div class="card-text my-3" style="line-height: 2.0;">
              <h6>{{t('IMPORTANT')}}</h6>
              {{t("The files uploaded to the root folder ‘/files’ folder will NOT be processed! So, please, make sure that the files are being uploaded inside sub-folder, e.g. '/files/agent_id. This is the only way to build statistics per agents.")}}
            </div>
          </li>
          <li>{{t('The files will start processing soon after uploading.')}}</li>
          <li>
            {{t('Once the files are processed they will disappear from the SFTP folder, so nobody can download the files from SFTP.')}}
          </li>
        </ul>
        <h4 class="card-text" style="line-height: 2.0;">{{t('Audio format')}}</h4>
        <p class="card-text" style="line-height: 2.0;">
          {{t('For best results, the audio source should be captured and transmitted using a lossless encoding (FLAC or LINEAR16). The accuracy of the speech recognition can be reduced if lossy codecs are used to capture or transmit audio, particularly if background noise is present. Lossy codecs include MULAW, AMR, AMR_WB, OGG_OPUS, and SPEEX_WITH_HEADER_BYTE.')}}
        </p>
      </div>
      <div *ngIf="isRussian()">
        <h4 class="card-text" style="line-height: 2.0;">{{t('SFTP Upload')}}</h4>
        <ul style="line-height: 2.0;">
          <li>Сервер: <strong>sftp.neosound.eu, порт: 22</strong></li>
          <li>Имя пользователя и пароль - учетные данные вашей учетной записи.</li>
          <li>
            После подключения перейдите в папку "/files" и создайте или загрузите отдельные подпапки внутри папки
            "/files" для каждого агента, например, "/files/".
          </li>
          <li>
            Записанные вызовы должны быть загружены в папку агента внутри папки "/files", например,
            "/files/agent_id".
            <div class="card-text my-3" style="line-height: 2.0;">
              <h6>{{t('ВАЖНО')}}</h6>
              Файлы, загруженные в корневую папку '/files', НЕ будут обрабатываться! Поэтому, пожалуйста,
              убедитесь, что файлы загружены в подпапку, например, '/files/agent_id'. Это единственный способ
              получения статистики по агентам.
            </div>
          </li>
          <li> Обработка файлов начнется вскоре после загрузки.</li>
          <li>
            После обработки эти файлы исчезнут из папки SFTP, поэтому никто не сможет загрузить их с SFTP
          </li>
        </ul>
        <h4 class="card-text" style="line-height: 2.0;">Аудио формат</h4>
        <p class="card-text" style="line-height: 2.0;">
          Для достижения наилучших результатов аудио должно быть записано с помощью кодека без потерь качества (lossless
          encoding FLAC or LINEAR16). Точность распознавания речи может быть снижена, если используются кодеки с
          потерями качества, особенно если присутствуют фоновые шумы. Примеры не подходящих кодеков: MULAW, AMR,
          AMR_WB, OGG_OPUS и SPEEX_WITH_HEADER_BYTE.</p>
      </div>
      <div *ngIf="isSpanish()">
        <h4 class="card-text" style="line-height: 2.0;">Carga de SFTP</h4>
        <ul style="line-height: 2.0;">
          <li>Host: <strong>{{host}}, port: 22</strong></li>
          <li>Nombre de usuario y contraseña: las credenciales de su cuenta.</li>
          <li>
            Una vez conectado, vaya a la carpeta "/files" y cree o cargue las subcarpetas separadas dentro de la carpeta "/files", por cada agente, p. "/files/".
          </li>
          <li>
            Las llamadas grabadas deben cargarse en una carpeta de agente dentro de la carpeta "/files", p. "/files/agent_id".
            <div class="card-text my-3" style="line-height: 2.0;">
              <h6>IMPORTANTE</h6>
              ¡Los archivos cargados en la carpeta raíz "/files" NO serán procesados! Por lo tanto, asegúrese de que los archivos se carguen dentro de la subcarpeta, p. "/files/agent_id". Esta es la única forma de generar estadísticas por agentes.
            </div>
          </li>
          <li>Los archivos comenzarán a procesarse poco después de cargarlos.</li>
          <li>
            Una vez que se procesan los archivos, desaparecerán de la carpeta SFTP, para que nadie pueda descargar los archivos desde SFTP.
          </li>
        </ul>
        <h4 class="card-text" style="line-height: 2.0;">Formato de audio</h4>
        <p class="card-text" style="line-height: 2.0;">
          Para obtener los mejores resultados, la fuente de audio debe capturarse y transmitirse utilizando una codificación sin pérdidas (FLAC o LINEAR16). La precisión del reconocimiento de voz se puede reducir si se utilizan códecs con pérdida para capturar o transmitir audio, especialmente si hay ruido de fondo. Los códecs con pérdida incluyen MULAW, AMR, AMR_WB, OGG_OPUS y SPEEX_WITH_HEADER_BYTE.
        </p>
      </div>
      <div *ngIf="isPorto()">
        <h4 class="card-text" style="line-height: 2.0;">Upload de SFTP</h4>
        <ul style="line-height: 2.0;">
          <li>Host: <strong>{{host}}, port: 22</strong></li>
          <li>Nome de usuário e senha: as credenciais da sua conta.</li>
          <li>
            Uma vez conectado, vá para a pasta "/files" e crie ou carregue subpastas separadas dentro da pasta "/files", para cada agente, por exemplo. "/files/".
          </li>
          <li>
            As chamadas gravadas devem ser carregadas em uma pasta do agente dentro da pasta "/files", por exemplo. "/files/agent_id".
            <div class="card-text my-3" style="line-height: 2.0;">
              <h6>IMPORTANTE</h6>
              Os arquivos enviados para a pasta raiz "/files" NÃO serão processados! Portanto, verifique se os arquivos estão carregados na subpasta, por exemplo. "/files/agent_id". Essa é a única maneira de gerar estatísticas por agentes.
            </div>
          </li>
          <li>
            Os arquivos começarão a ser processados logo após o upload.
          </li>
          <li>
            Depois que os arquivos são processados, eles desaparecem da pasta SFTP, para que ninguém possa baixar os arquivos do SFTP.
          </li>
        </ul>
        <h4 class="card-text" style="line-height: 2.0;">Formato de áudio</h4>
        <p class="card-text" style="line-height: 2.0;">
          Para melhores resultados, a fonte de áudio deve ser capturada e transmitida usando a codificação sem perdas (FLAC ou LINEAR16). A precisão do reconhecimento de fala pode ser reduzida se codecs com perda forem usados para capturar ou transmitir áudio, especialmente se houver ruído de fundo. Codecs com perdas incluem MULAW, AMR, AMR_WB, OGG_OPUS e SPEEX_WITH_HEADER_BYTE.
        </p>
      </div>
    </div>
  </div>
</div>
