<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-2">
        <ul class="nav flex-column border-right h-100">
          <ng-container *ngFor="let item of items">
            <li class="nav-item" [ngClass]="{'bg-light': item.key === activeItem }">
              <a class="nav-link" (click)="setView(item.key)">{{ t(item.name) }}</a>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-10">
        <ng-container *ngIf="activeItem === items[0].key">
          <app-setup-stopwords [showMessage]="showMessage" [postDate]="postDate" (launch)="launch()"></app-setup-stopwords>
        </ng-container>
        <ng-container *ngIf="activeItem === items[1].key">
          <nb-tabset (changeTab)="changeTab()">
            <nb-tab tabTitle="{{ t('Stopwords') }}">
              <app-keywords [showMessage]="showMessage" [postDate]="postDate" (launch)="launch()"
                            nameSpace='stop'
                            pluralLabel="stopwords"
                            descriptionLabel="Input stopwords separated by comma or add stopwords by uploading CSV"
                            totalLabel="Total stopwords"
                            (changed)="onChange($event)">
              </app-keywords>
            </nb-tab>
            <nb-tab tabTitle="{{ t('Compliance words') }}">
              <app-keywords [showMessage]="showMessage" [postDate]="postDate" (launch)="launch()"
                            nameSpace='compliance'
                            pluralLabel="compliance words"
                            descriptionLabel="Input compliance words separated by comma or add compliance words by uploading CSV"
                            totalLabel="Total compliance words"
                            (changed)="onChange($event)">
              </app-keywords>
            </nb-tab>
            <nb-tab tabTitle="{{ t('Sentiment words') }}">
              <app-keywords [showMessage]="showMessage" [postDate]="postDate" (launch)="launch()"
                            nameSpace='sentiment'
                            pluralLabel="sentiment words"
                            descriptionLabel="Input sentiment words separated by comma or add compliance words by uploading CSV"
                            totalLabel="Total sentiment words"
                            (changed)="onChange($event)">
              </app-keywords>
            </nb-tab>
          </nb-tabset>
        </ng-container>
        <ng-container *ngIf="activeItem === items[2].key">
          <nb-tabset>
            <nb-tab tabTitle="{{ t('Settings') }}">
              <app-sensitive-data></app-sensitive-data>
            </nb-tab>
            <nb-tab tabTitle="{{ t('Names dictionary') }}">
              <app-keywords [showMessage]="audioShowMessage" [postDate]="audioPostDate" (launch)="launchRedoReductAudio()"
                            nameSpace='dictNames'
                            pluralLabel="names"
                            descriptionLabel="Input names separated by comma or add names by uploading CSV"
                            totalLabel="Total names words"
                            (changed)="onChange($event)">
              </app-keywords>
            </nb-tab>
          </nb-tabset>
        </ng-container>
        <ng-container *ngIf="activeItem === items[3].key">
          <app-check-list></app-check-list>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
</nb-card>
