<div class="my-4">
    <div class="loader" *ngIf="isLoading">Loading...</div>
</div>
<div class="d-flex flex-column" [style.visibility]="!isLoading ? 'visible' : 'hidden'">
    <div class="my-3">
        <div class="d-flex align-items-center">
            <nb-action class="control-action mr-2"><a (click)="exportAsCsv()" class=">"><i
                        class="fas fa-download mr-2"></i>Download as CSV</a></nb-action>
            <nb-action class="control-action mr-2"><a (click)="fileImport()">
                    <i class="fas fa-file-import mr-2"></i>Import as CSV</a>
            </nb-action>
            <nb-action class="control-action ml-auto"><button class="btn btn-primary" [disabled]="!hasChanges"
                    (click)="save()">Save</button>
            </nb-action>
        </div>
    </div>
    <div class="my-2">
        <span class="font-weight-bold">{{descriptionLabel}}</span>
    </div>
    <div class="border my-2">
        <div style="height: 41vh;">
            <textarea #tagsInput></textarea>
        </div>
    </div>
    <div class="my-3">
        <div class="d-flex align-items-center">
            <span>{{totalLabel}}: {{tags.length}}, just {{tags.length - initialLength < 0 ? 'removed' : 'added'}}
                {{abs(tags.length - initialLength)}}</span>
            <span class=" mr-2 ml-auto"> </span>
            <span class=" mr-2" *ngIf="showMessage">
                Re-indexing is working now. Started: {{postDate | date: 'dd/MM/yyyy hh:mm' }}
            </span>
            <nb-action class="control-action"><button class="btn btn-secondary btn-sm mr-2" (click)="openModal(long)"
                    [disabled]="showMessage"><i class="fas fa-sync-alt mr-2"></i>Relaunch files processing</button>
            </nb-action>
            <nb-action class="control-action mr-2"><button class="btn btn-secondary btn-sm"
                    (click)="openModal(confirm)"><i class="fas fa-trash-alt mr-2"></i>Remove All</button>
            </nb-action>
        </div>
    </div>
</div>
<ng-template #confirm>
    <div class="modal-body text-center">
        <p>Please confirm, all {{singularLabel}}s will be eliminated from the company settings.</p>
        <button type="button" class="btn btn-primary mr-2" (click)="deleteAll()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="decline()">No</button>
    </div>
</ng-template>
<ng-template #long>
    <div class="modal-body text-center">
        <p>You will not be able to perform the next re-indexing until this request is completed. Please click Confirm to
            proceed or Cancel to review the settings.</p>
        <button type="button" class="btn btn-primary mr-2" (click)="launchRedo()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="decline()">Cancel</button>
    </div>
</ng-template>
<input #cvsUpload type="file" (change)="handleFileInput($event.target.files)" style="visibility: hidden">