<ngx-info-bar></ngx-info-bar>
<div class="row">
  <div class="col-6 mb-3">
    <ngx-processed-calls></ngx-processed-calls>
  </div>
  <div class="col-6 mb-3">
    <ngx-performance-by-agent></ngx-performance-by-agent>
  </div>
  <div class="col-6 mb-3">
    <ngx-stopwords></ngx-stopwords>
  </div>
  <div class="col-6 mb-3">
    <ngx-hits-stopwords></ngx-hits-stopwords>
  </div>
  <div class="col-6 mb-3">
    <ngx-topics></ngx-topics>
  </div>
  <div class="col-6 mb-3">
    <ngx-hits-topics></ngx-hits-topics>
  </div>
  <div class="col-6 mb-3">
    <ngx-minutes-stats-batches></ngx-minutes-stats-batches>
  </div>
  <div class="col-6 mb-3">
    <ngx-minutes-stats-minutes></ngx-minutes-stats-minutes>
  </div>
  <div class="col-6 mb-3">
    <ngx-calls-by-day></ngx-calls-by-day>
  </div>
  <div class="col-6 mb-3">
    <ngx-popular-words></ngx-popular-words>
  </div>
  <div class="col-6 mb-3">
    <ngx-freq-words></ngx-freq-words>
  </div>
  <div class="col-12 mb-3">
    <ngx-average-sentiments></ngx-average-sentiments>
  </div>
  <div class="col-12 mb-3">
    <ngx-sentimental-sankey></ngx-sentimental-sankey>
  </div>
  <div class="col-12 mb-3">
    <ngx-sentiment-tree></ngx-sentiment-tree>
  </div>
  <div class="col-12 mb-3">
    <ngx-keywords-phrases></ngx-keywords-phrases>
  </div>
  <div class="col-6 mb-3">
    <ngx-upload-instructions></ngx-upload-instructions>
  </div>
  <div class="col-6 mb-3">
    <ngx-queries-chart></ngx-queries-chart>
  </div>
</div>
