.nb-arrow-thin-left {
	display: none;
}

.chart-legend .legend-wrap {
	width: 100% !important;
}
.chart-legend {
	display: block;
	padding: 0;
	width: 100% !important;
	& div, & ul {
		width: 100% !important;
		background: none;
	}
	.legend-labels {
		background: none;
	}
	margin-bottom: 1rem;
}
.nb-theme-default nb-layout.window-mode .layout nb-layout-header nav {
	z-index: 9999;
}
.ngx-datepicker-container {
	z-index: 9;
}