.nb-arrow-thin-left {
  display: none;
}

.chart-legend .legend-wrap {
  width: 100% !important;
}
.chart-legend {
  display: block;
  padding: 0;
  width: 100% !important;
  & div,
  & ul {
    width: 100% !important;
    background: none;
  }
  .legend-labels {
    background: none;
  }
  margin-bottom: 1rem;
}
.nb-theme-default nb-layout.window-mode .layout nb-layout-header nav {
  z-index: 9999;
}
.ngx-datepicker-container {
  z-index: 9;
}
.input-group .form-gr-first {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .form-gr-last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  margin-left: -1px;
}
.loginLogo {
  width: 200px;
  max-height: 90px;
}
.nb-theme-default nb-card {
  margin-bottom: 0;
}
.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 0.75rem 2.25rem 0.75rem;
}
.nb-theme-default nb-card-body {
  min-height: calc(100vh - 147px);
}
.nb-theme-default {
  .player-details {
    .btn {
      padding: 5px 1.5rem;
    }
  }
}

#side-filter {
  .ng2-tags-container {
    & {
      font-size: 1rem;
      padding: 0px 10px;
      border: 1px solid #dfe3e9;
      color: #2a2a2a;
      background-color: #ffffff;
      font-family: Roboto;
      border-radius: 0.375rem;
      line-height: 1.5;
      background-clip: padding-box;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    input {
    }
  }
}

.nb-theme-default .progress-container {
  height: 0.5rem;
  border-radius: 0;
}

.nb-theme-default .progress-value {
  background-color: #37a2da;
}
angular-tag-cloud > span {
  cursor: pointer;
}

.card {
	border: none;
}

.card-header {
	background: none;
	font-size: 1.5rem;
	border: none;
}

.card-header:after {
    content:"";
    background: linear-gradient(to right, #37a2da 0%, #67e0e3 100%);
	display: block;
    height: 3px;
    width: 100%;
    position: absolute;
	top: 2.3em;
	left: 0;
}

.dasboard-card {
	background-color: #37a2da;
	color: #f8f9fa;
}

.dasboard-card h6, .dasboard-card h4 {
	color: #f8f9fa;
}
.nb-theme-default .btn.btn-primary {
  cursor: pointer;
  background-color: var(--color-secondary);
  &:active:focus,
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-secondary);
    opacity: 0.8;
    &:disabled {
      opacity: 0.3;
    }
  }
  &:active:focus,
  &:active {
    opacity: 0.9;
  }
}
.nb-theme-default a {
  color: var(--color-primary);
  &:active,
  &:focus,
  &:hover {
    color: var(--color-primary);
    opacity: 0.8;
    &:disabled {
      opacity: 0.3;
    }
  }
}
.nb-theme-default mark {
  background-color: var(--color-secondary);
}

angular-tag-cloud {
  overflow: auto!important;
  position: initial;
}
