<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" routerLink="/">NSD</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" routerLink="/about">About</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" routerLink="/guest/quicktest">Try</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/auth/sign-up">Sign up</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/auth/login">Login</a>
		</li>
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</div>
	</nav>
	<router-outlet></router-outlet> -->







	<nb-layout [center]="'center-column'" windowMode>
      <nb-layout-header fixed>
        <ngx-header [position]="'normal'"></ngx-header>
			</nb-layout-header>
			<!-- <div class="header-container"
				[class.left]="true"
				[class.right]="false">
				<div class="logo-containter">
					<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
					<div class="logo" routerLink="/">ngx-<span>admin</span></div>
				</div>
				<ngx-theme-switcher></ngx-theme-switcher>
		</div>

		<div class="header-container">
			<ngx-layout-direction-switcher></ngx-layout-direction-switcher>
			<nb-actions
				size="medium"
				[class.right]="true"
				[class.left]="false">
				<nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action>
				<nb-action *nbIsGranted="['view', 'user']" >
					<nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
				</nb-action>
				<nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
				<nb-action class="control-item" icon="nb-email"></nb-action>
				<nb-action class="control-item">
					<nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
				</nb-action>
			</nb-actions>
		</div> -->

      <!-- <nb-sidebar class="menu-sidebar"
                   tag="menu-sidebar"
                   responsive
                   [end]="sidebar.id === 'end'">
        <nb-sidebar-header *ngIf="currentTheme !== 'corporate'">
          <a href="#" class="btn btn-hero-success main-btn">
            <i class="ion ion-social-github"></i> <span>Support Us</span>
          </a>
        </nb-sidebar-header>
        <ng-content select="nb-menu"></ng-content>
      </nb-sidebar> -->

      <nb-layout-column class="main-content">
				<div class="alert alert-info" style="background-color: #fffaf3;">We support only Chrome browser at the moment</div>
					<nb-card>
						<!-- <nb-card-header>Horizontal form</nb-card-header> -->
						<nb-card-body>
							<router-outlet></router-outlet>
						</nb-card-body>
						</nb-card>
      </nb-layout-column>
<!--
      <nb-layout-column start class="small" *ngIf="layout.id === 'two-column' || layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
      </nb-layout-column>

      <nb-layout-column class="small" *ngIf="layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
      </nb-layout-column> -->

      <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
      </nb-layout-footer>

      <!-- <nb-sidebar class="settings-sidebar"
                   tag="settings-sidebar"
                   state="collapsed"
                   fixed
                   [end]="sidebar.id !== 'end'">
        <ngx-theme-settings></ngx-theme-settings>
      </nb-sidebar> -->
    </nb-layout>