<ng-container *ngIf="isLoaded">
  <div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    <div class="logo-containter">
      <a class="logo" routerLink="/" href="/">
        <img src="assets/config/{{config.logofilename}}" />
      </a>
    </div>
    <nb-actions>
      <nb-action class="control-item" *ngIf="isLoggedIn()"><a style="cursor: pointer;"
          (click)="navigate('/')">{{t('Dashboard')}}</a></nb-action>
      <nb-action class="control-item" *ngIf="isLoggedIn()">
        <a href="/dashboard/assessment"(click)="navigate('/dashboard/assessment')">{{t('Assessment Dashboard')}}</a>
      </nb-action>
      <nb-action class="control-item" *ngIf="isLoggedIn()"><a style="cursor: pointer;"
          (click)="showUploadDialog = !showUploadDialog">{{t('Upload')}}</a></nb-action>
      <nb-action class="control-item" *ngIf="!isLoggedIn()"><a href="/auth/sign-up"
          (click)="navigate('/auth/sign-up')">{{t('Sign up')}}</a></nb-action>
      <nb-action class="control-item" *ngIf="!isLoggedIn()"><a href="/auth/login"
          (click)="navigate('/auth/login')">{{t('Login')}}</a></nb-action>
      <nb-action class="control-item" *ngIf="isLoggedIn()"><a href="/user/files"
          (click)="navigate('/user/files')">{{t('Calls')}}</a></nb-action>
        <nb-action class="control-item" *ngIf="isLoggedIn()"><a href="/user/text-files"
          (click)="navigate('/user/text-files')">{{t('Texts')}}</a></nb-action>
       <nb-action *ngIf="isLoggedIn() && config.header.api.show" class="control-item"><a
          href="{{config.header.api.link}}" target="_blank"
          (click)="navigate(config.header.api.link)">{{t(config.header.api.text)}}</a></nb-action>
      <nb-action *ngIf="config.header.about.show" class="control-item"><a href="{{config.header.about.link}}"
          target="_blank">{{t(config.header.about.text)}}</a></nb-action>
    </nb-actions>
  </div>

  <ngx-upload-dialog [showDialog]="showUploadDialog" (modalOpened)="showUploadDialog = $event"></ngx-upload-dialog>
  <ngx-upload-progress></ngx-upload-progress>
  <div class="header-container">
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">

      <nb-action class="control-item left-border"
        style="line-height: 2.25rem; border-left: 1px solid #ebeef2 !important;" *ngIf="isLoggedIn()"><a href="#"
          (click)="logout()">{{t('Logout')}}</a></nb-action>
      <nb-action class="control-item" style="line-height: 2.25rem;" *ngIf="isLoggedIn()">{{username()}}</nb-action>
      <nb-action class="control-item" style="line-height: 2.25rem;" *ngIf="isLoggedIn() && company()">
          <a href="#" (click)="navigate('/admin/settings')"><i class="fa fa-cog mr-1"></i>{{company()}}</a>
      </nb-action>
      <nb-action *ngIf="config.header.language.show" class="control-item"
        style="z-index: 1; line-height: 2.25rem; cursor: pointer;">
        <div class="dropdown ghost-dropdown" ngbDropdown>
          <button type="button" class="btn btn-sm" ngbDropdownToggle>
            {{ getCurrentLanguageName() }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li class="dropdown-item" (click)="setLanguage('en')">English</li>
            <li class="dropdown-item" (click)="setLanguage('sp')">Español</li>
            <li class="dropdown-item" (click)="setLanguage('pt')">Português</li>
            <li class="dropdown-item" (click)="setLanguage('ru')">Русский</li>
          </ul>
        </div>
      </nb-action>
    </nb-actions>
  </div>
</ng-container>
