<p>
  landing page
</p>
<a routerLink="/auth/login">Login</a><br/>
<a routerLink="/auth/sign-up">Signup</a><br/>
<a routerLink="/auth/sign-up-link">Signup by link</a><br/>
<a routerLink="/terms">terms</a><br/>
<a routerLink="/auth/forgot-password">forgot-password</a><br/>

<br/>
<a routerLink="/admin">admin</a><br/>
<br/>
<a routerLink="/user/details">user/details</a><br/>
<a routerLink="/user/files">user/files</a><br/>
<a routerLink="/user/result">user/result</a><br/>
<br/>
<a routerLink="/guest/quicktest">guest/quicktest</a><br/>
<a routerLink="/guest/results">guest/results"</a><br/>
