<div *ngIf="!loading; else loadingTemplate">
  <app-calls-dashboard *ngIf="type === 'calls'" [batches]="batches" [dateTo]="dateTo" [dateFrom]="dateFrom">
  </app-calls-dashboard>
  <app-texts-dashboard *ngIf="type === 'texts'" [batches]="batches" [dateTo]="dateTo" [dateFrom]="dateFrom">
  </app-texts-dashboard>
</div>
<ng-template #loadingTemplate>
  {{ t("Loading...") }}
</ng-template>
<div class="border" style="position: absolute; top: 50%; right: 0; background-color: white;">
  <button (click)="showModal(configModal)" class="btn p-2 m-2" style="color: #2a2a2a;"><i
      class="fas fa-cog"></i></button>
</div>

<ng-template #configModal>
  <div class="modal-header">
    {{t('Dashboard config')}}
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': modalType === 'calls'}"
        (click)="switchTabs('calls')">{{t('Calls')}}</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': modalType === 'texts'}"
        (click)="switchTabs('texts')">{{t('Texts')}}</button>
    </div>
    <div class="row">
      <div class="col-12 py-3" *ngIf="modalType === 'calls'">
        <input type="text" placeholder="Batch name" class="form-control" [typeahead]="batchesCalls" [typeaheadMinLength]="0"
          class="form-control form-control-lg" [(ngModel)]="selectedValue" (typeaheadOnSelect)="onSelect($event)"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-12 py-3" *ngIf="modalType === 'texts'">
        <input type="text" class="form-control" [typeahead]="batchesTexts" [typeaheadMinLength]="0"
          class="form-control form-control-lg" [(ngModel)]="selectedValue" (typeaheadOnSelect)="onSelect($event)"
          [ngModelOptions]="{standalone: true}">
      </div>
      <ul class="col-12 py-3 list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center w-100"
          *ngFor="let id of selectedBatches">{{id}}<button type="button" class="close ml-2" aria-label="Close"
            (click)="onRemove(id)">
            <span aria-hidden="true">&times;</span>
          </button></li>
      </ul>
      <div class="col-12 py-3">
        <div class="mb-2">{{t('Date range')}}</div>
        <div class="input-group">
          <ng-datepicker [(ngModel)]="dateFromModel" [options]="datePickerFromOptions"
            class="form-control-bak form-control-lg-bak form-gr-first" style="padding-right: 0px;">
          </ng-datepicker>
          <ng-datepicker [(ngModel)]="dateToModel" [options]="datePickerToOptions"
            class="form-control-bak form-control-lg-bak form-gr-last"></ng-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <button class="btn btn-primary mr-3" (click)="updateData()">{{t('Apply')}}</button>
          <button class="btn btn-link btn-secondary" (click)="hideModal()">{{t('Close')}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>