<div class="d-flex flex-row align-self-scratch py-2 file-info-container" *ngIf="file">
  <div style="width: 5%;">
    <button class="btn btn-link" style="cursor: pointer;" [routerLink]="'/user/files'" [tooltip]="t(' Back to List')">
      <i class="fas fa-long-arrow-alt-left"></i>
    </button>
  </div>
  <div (click)="markFavorite(file)" style="cursor: pointer; width: 2%;" class="align-self-start">
    <span *ngIf="filterService.lastFileId === file.filename" #scroll></span>
    <i *ngIf="getBool(file.pin)" class="fa fa-star"></i>
    <i *ngIf="!getBool(file.pin)" class="far fa-star"></i>
  </div>
  <div class="d-flex flex-column align-self-stretch justify-content-between" style="width: 38%">
    <a tooltip="{{file.filename}}">
      <span class="font-weight-bold text-truncate" style="max-width: 100%; display: block;">
        {{file.filename}}
      </span>
    </a>
    <a class="text-truncate mb-1" style="cursor: pointer; text-decoration: underline;"
      (click)="filterByBatch(file.batchid)">{{file.batchid}}</a>
    <div class="d-flex flex-row flex-start" *ngIf="file.topic">
      <i class="fas fa-quote-left mr-1"></i>
      <span class="text-truncate" tooltip="{{file.topic.topic}}" style="max-width: 85%; display: inline-block;">{{file.topic.topic}}</span>
      <span class="font-weight-bold ml-1" >{{file.topic.confidence}}%</span>
    </div>
  </div>
  <div class="d-flex flex-column align-self-stretch justify-content-between" style="width:5%">
    <div class="d-flex flex-row align-items-center">
      <i tooltip="{{t('All')}}" class="fa fa-user-friends mr-auto"></i>
      <span tooltip="{{getStopwords(file)}}" class="badge badge-danger mr-4"
        style="border-radius: 0px; padding: 0.3rem 0.4rem;">{{file.stopwordcount ? file.stopwordcount : 0}}</span>
    </div>
    <div class="d-flex flex-row ">
      <i class="fa fa-headset mr-auto" tooltip="{{t('Agent')}}"></i>
      <span tooltip="{{getAgentStopwords(file)}}" class="badge badge-danger mr-4"
        style="border-radius: 0px; padding: 0.3rem 0.4rem;">{{file.agentstopwordcount ? file.agentstopwordcount : 0 }}</span>
    </div>
    <div class="d-flex flex-row">
      <i tooltip="{{t('Client')}}" class="fa fa-user-tie mr-auto"></i>
      <span tooltip="{{getCustomerStopword(file)}}" class="badge badge-danger mr-4"
        style="border-radius: 0px; padding: 0.3rem 0.4rem;">{{file.customerstopwordcount ? file.customerstopwordcount : 0}}</span>
    </div>
  </div>
  <div class="d-flex flex-column" style="width: 55%;">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <div style="font-size: x-small; margin-top: 0.3rem;">{{t('Compliance')}}</div>
          <div class="d-flex flex-row font-weight-bold"
            [ngStyle]="{'font-size': '1.3rem', 'margin-top': '0.6rem', 'color': getOpacityLevelCompliance(file.compliancepercent)}">
            <div class="align-self-center text-center mr-1">
              <i class="fa fa-shield-alt"></i>
            </div>
            <span class="m-0">
              {{file.compliancepercent !== '-' ? abc(file.compliancepercent) + '%' : '-' }}
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="d-flex flex-column align-items-center">
          <div style="font-size: x-small; margin-top: 0.3rem;">{{t('Sentiment trend')}}</div>
          <ng-container *ngIf="hasTrend(file.sentimentTrend); else emptyTrend">
            <div class="d-flex flex-row font-weight-bold" style="font-size: 1.3rem; margin-top: 0.7rem">
              <i class="far" [ngClass]='getTrend(file.sentimentTrend.start)'
                [tooltip]="file.sentimentTrend.start"></i>
              <i class="fas fa-long-arrow-alt-right mx-2"></i>
              <i [ngClass]='getTrend(file.sentimentTrend.end)' [tooltip]="file.sentimentTrend.end"
                class="far"></i>
            </div>
          </ng-container>
          <ng-template #emptyTrend>
            <div class="d-flex flex-row align-self-start">
              <span style="width: 4rem">
                -
              </span>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
          <div style="font-size: x-small; margin-top: 0.3rem;">
            {{t('Average emotion')}}
          </div>
          <div class="d-flex flex-row font-weight-bold"
            [ngStyle]="{'font-size': '1.3rem', 'margin-top': '0.7rem', 'color': getOpacityLevelAnger(file.angertop)}">
            <div class="align-self-center text-center mr-1">
              <i class="fa fa-thermometer-empty"></i>
            </div>
            <span class="m-0">
              {{file.angertop && file.angertop.anger ? abcStr(file.angertop.anger) + '%' : '-' }}
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
          <div style="font-size: x-small; margin-top: 0.3rem;">
            {{t('Comments')}}
          </div>
          <div class="d-flex flex-row font-weight-bold" style="font-size: 1.3rem; margin-top: 0.7rem">
            <div class="align-self-center text-center mr-1">
              <i class="far fa-sticky-note" [ngClass]="{'c-primary': file.comment.length > 0}"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
          <div style="font-size: x-small; margin-top: 0.3rem;">
            {{t('Assessment')}}
          </div>
          <div class="d-flex flex-row"
            [ngStyle]="{'font-size': '1.3rem','margin-top': '0.7rem', 'color': getOpacityLevelCompliance(file.checklistScore)}">
            <div class="text-center mr-1">
              <i class="fas fa-tasks" [ngClass]="{'c-primary': file.checklist}"></i>
            </div>
            <span class="m-0" *ngIf="file.checklist; else empty">
              {{abc(file.checklistScore)}}%
            </span>
            <ng-template #empty>
              <span class="m-0">
                -
              </span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="pr-2" style="font-size: xx-small; margin-top: 0.3rem;">
          <div class="mb-1">
            <span class="mr-2">{{t('Uploaded')}}</span>
            <span class="float-right font-weight-bold">{{file.uploaddate | date: 'dd/MM/yyyy'}}</span>
          </div>
          <div class="mb-1">
            <span class="mr-2">{{t('Duration')}}</span>
            <span class="float-right font-weight-bold">{{ getFormatedTime(file.duration)}}</span>
          </div>
          <div class="mb-1">
            <span class="mr-2"> {{t('Silence')}}</span>
            <span *ngIf="file.pause && file.pause.dur"
              class="float-right font-weight-bold">{{getFormatedTime(file.pause.dur)}}
              ({{file.pause.dur / file.duration | percent}})</span>
          </div>
        </div>
        <div style="font-size: xx-small; margin-top: 0.3rem;">
          <div class="mb-1">
            <span class="mr-2">{{t('Pauses')}}</span>
            <span class="float-right font-weight-bold"></span>
          </div>
          <div class="mb-1">
            <span class="mr-2">{{t('Max.')}}</span>
            <span class="float-right font-weight-bold"
              *ngIf="file.pause && file.pause.max">{{getFormatedTime(file.pause.max)}}</span>
          </div>
          <div class="mb-1">
            <span class="mr-2">{{t('Avg.')}}</span>
            <span *ngIf="file.pause && file.pause.avg"
              class="float-right font-weight-bold">{{getFormatedTime(file.pause.avg)}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-end w-100">
      <div>
        <span class="badge badge-secondary mr-1" *ngFor="let tag of file.tags">{{tag}}</span>
        <span class="badge badge-autotag mr-1" *ngFor="let tag of file.autotags">{{tag}}</span>
      </div>
      <div class="mr-auto">
        <button class="btn p-0 c-normal" style="cursor: pointer;" (click)="showModal(tagModal, file)"
          tooltip="{{t('Edit tags')}}">
          <i class="fa fa-pencil-alt"></i>
        </button>
      </div>
      <div>
    </div>
  </div>

</div>
<div class="d-flex flex-column" style="width: 10%;">
  <div class="d-inline-block text-center">
    {{fileIndex + 1}} out of {{filterService.totalcount}}
  </div>
</div>
<div class="d-flex flex-row justify-content-start align-items-start" style="width: 5%;">
  <button class="btn btn-link" style="cursor: pointer;" [disabled]="filterService.hasPrevLink(fileName, batchId)"
    [routerLink]="filterService.getPrevLink(fileName, batchId)" [tooltip]="t('Previous File')">
    <i class="fas fa-chevron-left"></i>
  </button>
  <button class="btn btn-link ml-2" style="cursor: pointer;" [disabled]="filterService.hasNextLink(fileName, batchId)"
    [routerLink]="filterService.getNextLink(fileName, batchId)" [tooltip]="t('Next File')">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
<ng-template #loading>
  loading...
</ng-template>
<ng-template #tagModal>
  <div class="modal-header">
    {{t('Tags')}}
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tagsModal">
    <tag-input [(ngModel)]="itemTags" [editable]="true" theme="minimal" placeholder="{{t('Add Tag')}}"
      secondaryPlaceholder="{{t('Add Tag')}}" [separatorKeys]="[',']" [separatorKeyCodes]="[13]"></tag-input>
    <div class="text-right">
      <button class="btn btn-primary mr-3" (click)="saveTags()">{{t('Save')}}</button>
      <button class="btn btn-link btn-secondary" (click)="hideModal()">{{t('Close')}}</button>
    </div>
  </div>
</ng-template>
