<div class="d-flex align-items-start justify-content-between" *ngIf="file">
  <div style="width: 5%;">
    <button class="btn btn-link" style="cursor: pointer;" [disabled]="filterService.hasPrevLink(fileName, batchId)"
      [routerLink]="filterService.getPrevLink(fileName, batchId)" [tooltip]="t(' Back to List')">
      <i class="fas fa-long-arrow-alt-left"></i>
    </button>
  </div>
  <div style="cursor: pointer; width: 2%;" class="align-self-center">
    <i *ngIf="getBool(file.pin)" class="fa fa-star"></i>
    <i *ngIf="!getBool(file.pin)" class="far fa-star"></i>
  </div>
  <div class="d-flex flex-column" style="width: 20%;">
    <div class="d-inline-block text-truncate font-weight-bold">
      {{file.filename}}
    </div>
    <div class="d-inline-block text-truncate font-weight-bold">
      {{file.batchid}}
    </div>
  </div>
  <div style="width: 20%;">
    <div>
      <span class="badge badge-secondary mr-1" *ngFor="let tag of file.tags">{{tag}}</span>
      <button class="btn p-0 c-normal" style="cursor: pointer;" (click)="showModal(tagModal, file, i)"
        tooltip="{{t('Edit tags')}}">
        <i class="fa fa-pencil-alt"></i>
      </button>
    </div>
    <div class="" *ngIf="file.topic">
      <i class="fas fa-quote-left mr-1"></i>{{file.topic.topic}}<span
        class="font-weight-bold ml-1">{{file.topic.confidence}} %</span>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start" style="width: 10%;">
    <div class="pr-4" style="font-size: xx-small;">
      <div class="mb-1">
        <span class="mr-2">{{t('Uploaded')}}</span>
        <span class="float-right font-weight-bold">{{file.uploaddate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="mb-1">
        <span class="mr-2">{{t('Duration')}}</span>
        <span class="float-right font-weight-bold">{{ getFormatedTime(file.duration)}}</span>
      </div>
      <div class="mb-1">
        <span class="mr-2"> {{t('Silence')}}</span>
        <span *ngIf="file.pause && file.pause.dur"
          class="float-right font-weight-bold">{{getFormatedTime(file.pause.dur)}}
          ({{file.pause.dur / file.duration | percent}})</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-self-scratch" style="width: 10%;">
    <div class="d-flex flex-column px-2">
      <div style="font-size: x-small;" class="font-weight-bold">{{t('Compliance')}}:</div>
      <div class="d-flex flex-row">
        <div class="align-self-center text-center mr-1">
          <i class="fa fa-shield-alt"></i>
        </div>
        <div class="m-0" [ngStyle]="{'color': getOpacityLevelCompliance(file.compliancepercent), 'width': '4rem'}">
          {{file.compliancepercent !== '-' ? abs(file.compliancepercent) + '%' : '-  ' }}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-self-scratch" style="width: 10%;">
    <div class="d-flex flex-column px-2">
      <div style="font-size: x-small;" class="font-weight-bold">{{t('Sentiment trend')}}:</div>
      <ng-container *ngIf="hasTrend(file.sentimentTrend); else emptyTrend">
        <div class="d-flex flex-row align-self-center mt-1">
          <i class="far " [ngClass]='getTrend(file.sentimentTrend.start)' [tooltip]="file.sentimentTrend.start"></i>
          <i class="fas fa-long-arrow-alt-right mx-2"></i>
          <i [ngClass]='getTrend(file.sentimentTrend.end)' [tooltip]="file.sentimentTrend.end" class="far "></i>
        </div>
      </ng-container>
      <ng-template #emptyTrend>
        <div class="d-flex flex-row align-self-start">
          <div style="width: 4rem">
            -
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="d-flex justify-content-center align-self-scratch" style="width: 10%;"
    [ngStyle]="{'background': getOpacityLevelAnger(file.angertop)}">
    <div class="d-flex flex-column px-2">
      <div style="font-size: x-small;" class="font-weight-bold">{{t('Average emotional level')}}:
      </div>
      <div class="d-flex flex-row">
        <div class="align-self-center text-center mr-1"><i class="fa fa-thermometer-empty"></i>
        </div>
        <div class="m-0" *ngIf="file.angertop && file.angertop.anger; else empty">
          {{file.angertop && file.angertop.anger}}%
        </div>
        <ng-template #empty>
          <div style="width: 4rem;">
            -
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column" style="width: 10%;">
    <div class="d-inline-block text-truncate font-weight-bold">
      {{filterService.totalcount}}
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center align-self-scratch" style="width: 5%;">
    <button class="btn btn-link" style="cursor: pointer;" [disabled]="filterService.hasPrevLink(fileName, batchId)"
      [routerLink]="filterService.getPrevLink(fileName, batchId)" [tooltip]="t(' Back to List')">
      <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <button class="btn btn-link" style="cursor: pointer;" [disabled]="filterService.hasNextLink(fileName, batchId)"
      [routerLink]="filterService.getNextLink(fileName, batchId)" [tooltip]="t(' Back to List')">
      <i class="fas fa-long-arrow-alt-right"></i>
    </button>
  </div>
</div>
<ng-template #loading>
  loading...
</ng-template>