:host {
  .wrapper {
    height: 100%;
    @media print {
      overflow-y: auto;
      & > div {
       
        height: auto !important;
      }
      div {
        display: block;
      }
    }
  }
  // fix-scroll for retina
  // @media screen and (min-height: 1080px) {
  //   .wrapper {
  //     height: auto;
  //   }  
  // }

  // .wrapper {
  //   max-height: auto;
  //   max-height: 500px;
  // }
  
  // @media screen and (max-height: 1880px) {
  //   .wrapper {
  //     max-height: 74vh;
  //   }  
  // }
  // @media screen and (max-height: 1080px) {
  //   .wrapper {
  //     max-height: 64vh;
  //   }  
  // }
  // @media screen and (max-height: 980px) {
  //   .wrapper {
  //     max-height: 60vh;
  //   }  
  // }
  // @media screen and (max-height: 920px) {
  //   .wrapper {
  //     max-height: 49vh;
  //   }  
  // }
  // @media screen and (max-height: 768px) {
  //   .wrapper {
  //     max-height: 43vh;
  //   }  
  // }
  // @media screen and (max-height: 700px) {
  //   .wrapper {
  //     max-height: 29vh;
  //   }  
  // }
  // @media screen and (max-height: 544px) {
  //   .wrapper {
  //     max-height: 23vh;
  //   }  
  // }
}

html {
  overflow: hidden;
}