:host {
  .wrapper {
    overflow-y: auto;
    @media print {
      overflow-y: auto;
      & > div {
       
        height: auto !important;
      }
      div {
        display: block;
      }
    }
  }
}
