<nb-card>
  <nb-card-body>
    <div class="alert alert-danger" *ngIf="errorMessage">{{t('Error:')}}' {{errorMessage}}</div>
    <div class="row">
      <div class="col-2">
        <div class="" id="side-filter">
          <div class="row">
            <div class="col-12">
              <div class="mb-2">{{t('Name')}}</div>
              <input [(ngModel)]="filterService.filter.filename" [ngModelOptions]="{standalone: true}" type="text"
                class="" placeholder="" class="form-control form-control-lg"
                style="padding: 5px 10px; border: 1px solid #dfe3e9;" />
            </div>
            <div class="col-12 pt-3">
              <div class="mb-2">{{t('Batch Id')}}</div>
              <input [(ngModel)]="filterService.filter.batchid" [ngModelOptions]="{standalone: true}" type="text"
                step="0.01" class="form-control form-control-lg" style="padding: 5px 10px; border: 1px solid #dfe3e9;"
                placeholder="">
            </div>
            <div class="col-12 pt-3">
              <div class="mb-2">{{t('Uploaded')}}</div>
              <div class="input-group">
                <ng-datepicker [(ngModel)]="filterService.filter.datefrom" [options]="datePickerFromOptions"
                  class="form-control-bak form-control-lg-bak form-gr-first" style="padding-right: 0px;">
                </ng-datepicker>
                <ng-datepicker [(ngModel)]="filterService.filter.dateto" [options]="datePickerToOptions"
                  class="form-control-bak form-control-lg-bak form-gr-last"></ng-datepicker>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="mb-2">{{t('Containing words')}}</div>
              <tag-input [(ngModel)]="filterService.filter.keywordsContain" [editable]="true" theme="minimal"
                (onAdd)="onItemAdd($event, 'keywordsContain')" placeholder="{{t('Words')}}"
                secondaryPlaceholder="{{t('Words')}}" [separatorKeys]="[',']" [separatorKeyCodes]="[13]"
                (onBlur)="onItemAdd($event, 'keywordsContain')"></tag-input>
            </div>
            <div class="col-12 pt-3">
              <div class="mb-2">{{t('Missing words')}}</div>
              <tag-input [(ngModel)]="filterService.filter.keywordsNotContain" [editable]="true" theme="minimal"
                (onAdd)="onItemAdd($event, 'keywordsNotContain')" placeholder="{{t('Missing words')}}"
                secondaryPlaceholder="{{t('Words')}}" [separatorKeys]="[',']" [separatorKeyCodes]="[13]"
                (onBlur)="onItemAdd($event, 'keywordsNotContain')"></tag-input>
            </div>
            <div class="col-12 pt-3">
              <div class="mb-2">{{t('Tags')}}</div>
              <tag-input [(ngModel)]="filterService.filter.tagsContain" [editable]="true" theme="minimal"
                (onAdd)="onItemAdd($event, 'tagsContain')" placeholder="{{t('Tags')}}"
                secondaryPlaceholder="{{t('Tags')}}" [separatorKeys]="[',']" [separatorKeyCodes]="[13]"
                (onBlur)="onItemAdd($event, 'tagsContain')"></tag-input>
            </div>
            <div class="col-12">
              <div class="mt-3">
                <label>
                  <input [(ngModel)]="filterService.filter.stopOnly" [ngModelOptions]="{standalone: true}"
                    type="checkbox" class="" />
                  {{t('Filter texts with stopwords')}}
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="mt-3">
                <label>
                  <input [(ngModel)]="filterService.filter.missingOnly" [ngModelOptions]="{standalone: true}"
                    type="checkbox" class="" />
                  {{t('Filter texts with missing words')}}
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="mt-3">
                <label>
                  <input [(ngModel)]="filterService.filter.favoriteOnly" [ngModelOptions]="{standalone: true}"
                    type="checkbox" class="" />
                  {{t('Filter favorite texts')}}
                </label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-4 w-100" style="cursor: pointer;"
                (click)="filterIt()">{{t('Apply')}}</button>
            </div>
            <div class="col-12">
              <button class="btn btn-secondary mt-2 w-100" style="cursor: pointer;"
                (click)="resetFilter()">{{t('Reset')}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-10 pl-4 border-left">
        <div class="row mb-1" *ngIf="!filterService.isLoading">
          <div class="col-3">
            <h1>{{t('Files')}}</h1>
          </div>
          <div class="col-6">
            <div class="btn-toolbar mb-3 mt-3">
              <div class="btn-group mr-2 mb-2">
                <div
                  *ngFor="let pageItem of filterService.fileStore | paginate: { itemsPerPage: filterService.filter.itemsn, currentPage: filterService.filter.pagen, totalItems: filterService.totalcount }">
                </div>
                <pagination-controls (pageChange)="getPage($event)" previousLabel="{{t('previous')}}"
                  nextLabel="{{t('next')}}"></pagination-controls>
              </div>
            </div>
          </div>
          <!-- <div class="col-3">
            <div class="row mb-1">
              <div class="col text-right pl-0" *ngIf="!filterService.isLoading">
                <button class="btn btn-primary ml-5 pull-right mt-1 btn-sm"
                  (click)="exportCSV()">{{t('Export to CSV')}}</button>
              </div>
            </div>
          </div> -->
        </div>
        <div class="file-list" *ngIf="!filterService.isLoading; else spinner">
          <div>
            <table class="table" *ngIf="!isLoadingSpinner; else spinner">
              <thead>
                <th></th>
                <th class="text-one-line">
                  <a (click)="sortTable('BatchId')">
                    {{t('Batch Id')}}
                    <ng-container *ngIf="filterService.filter.sortby === 'BatchId'">
                      <i *ngIf="filterService.filter.sortorder ==='asc'" class="fas fa-sort-up"></i>
                      <i *ngIf="filterService.filter.sortorder ==='desc'" class="fas fa-sort-down"></i>
                    </ng-container>
                    <i *ngIf="filterService.filter.sortby !== 'BatchId'" style="color: #bbbbbb" class="fas fa-sort"></i>
                  </a>
                </th>
                <th class="text-one-line">
                  <a (click)="sortTable('Name')">
                    {{t('Name')}}
                    <ng-container *ngIf="filterService.filter.sortby === 'Name'">
                      <i *ngIf="filterService.filter.sortorder ==='asc'" class="fas fa-sort-up"></i>
                      <i *ngIf="filterService.filter.sortorder ==='desc'" class="fas fa-sort-down"></i>
                    </ng-container>
                    <i *ngIf="filterService.filter.sortby !== 'Name'" style="color: #bbbbbb" class="fas fa-sort"></i>
                  </a>
                </th>
                <th class="text-one-line">
                  <a (click)="sortTable('Uploaded')">
                    {{t('Uploaded')}}
                    <ng-container *ngIf="filterService.filter.sortby === 'Uploaded'">
                      <i *ngIf="filterService.filter.sortorder ==='asc'" class="fas fa-sort-up"></i>
                      <i *ngIf="filterService.filter.sortorder ==='desc'" class="fas fa-sort-down"></i>
                    </ng-container>
                    <i *ngIf="filterService.filter.sortby !== 'Uploaded'" style="color: #bbbbbb"
                      class="fas fa-sort"></i>
                  </a>
                </th>
                <th class="text-one-line">
                  <a (click)="sortTable('Stopwords')">
                    {{t('Stopwords')}}
                    <ng-container *ngIf="filterService.filter.sortby === 'Stopwords'">
                      <i *ngIf="filterService.filter.sortorder ==='asc'" class="fas fa-sort-up"></i>
                      <i *ngIf="filterService.filter.sortorder ==='desc'" class="fas fa-sort-down"></i>
                    </ng-container>
                    <i *ngIf="filterService.filter.sortby !== 'Stopwords'" style="color: #bbbbbb"
                      class="fas fa-sort"></i>
                  </a>
                </th>
                <th class="text-one-line">
                  <a (click)="sortTable('Compliance')">
                    {{t('Compliance')}}
                    <ng-container *ngIf="filterService.filter.sortby === 'Compliance'">
                      <i *ngIf="filterService.filter.sortorder ==='asc'" class="fas fa-sort-up"></i>
                      <i *ngIf="filterService.filter.sortorder ==='desc'" class="fas fa-sort-down"></i>
                    </ng-container>
                    <i *ngIf="filterService.filter.sortby !== 'Compliance'" style="color: #bbbbbb"
                      class="fas fa-sort"></i>
                  </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <ng-container *ngIf="(filterService.files | async) as files">
                  <tr *ngFor="let file of files; let i = index">
                    <td>
                      <span (click)="markFavorite(file)" style="cursor: pointer;">
                        <i *ngIf="getBool(file.pin)" class="fa fa-star"></i>
                        <i *ngIf="!getBool(file.pin)" class="far fa-star"></i>
                      </span>
                    </td>
                    <td class="text-nowrap" tooltip="{{file.batchid}}">{{file.batchid}}</td>
                    <td>
                      <a [routerLink]="getLink(file)" style="cursor: pointer;">
                        <div class="text-nowrap" tooltip="{{file.filename}}">{{file.filename}}</div>
                      </a>
                    </td>
                    <td>
                      <div class="text-nowrap" tooltip="{{file.uploaddate | date: 'dd/MM/yyyy hh:mm:ss'}}">
                        {{file.uploaddate | date: 'dd/MM/yyyy'}}
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="badge badge-danger" style="cursor: pointer" *ngIf="file.stopwordcount"
                        tooltip="{{getStopwords(file)}}">
                        {{file.stopwordcount}}
                      </div>
                      <span *ngIf="!file.stopwords">-</span>
                    </td>
                    <td class="text-center">
                      <div class="" style="cursor: pointer"
                        [ngStyle]="{'color': getOpacityLevelCompliance(file.compliancepercent)}">
                        {{file.compliancepercent}}
                      </div>
                    </td>
                    <td>
                      <button class="btn p-2 c-normal" style="cursor: pointer;" (click)="proccessFile(file)"
                        tooltip="{{t('Refresh')}}{{file.proccessing ? '...' : ''}}">
                        <i class="fa fa-sync"></i>
                      </button>
                    </td>
                    <td>
                      <button class="btn p-2 c-normal" style="cursor: pointer;"
                        (click)="delete(file.batchid, file.filename)" tooltip="{{t('Delete')}}">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </td>
                    <td>
                      <span (click)="showModal(tagModal, file, i)">
                        <div class="badge badge-secondary m-1" style="cursor: pointer;" *ngFor="let tag of file.tags">
                          {{tag}}
                        </div>
                        <i class="fa fa-pencil-alt ml-2"></i>
                      </span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-around" *ngIf="!filterService.isLoading">
          <div class="btn-toolbar mb-3 mt-3">
            <div class="btn-group mr-2 mb-2">
              <div
                *ngFor="let pageItem of filterService.fileStore | paginate: { itemsPerPage: filterService.filter.itemsn, currentPage: filterService.filter.pagen, totalItems: filterService.totalcount }">
              </div>
              <pagination-controls (pageChange)="getPage($event)" previousLabel="{{t('previous')}}"
                nextLabel="{{t('next')}}"></pagination-controls>
            </div>
          </div>
        </div>
        <h6 *ngIf="!filterService.isLoading">{{t('Total files on page')}} {{filterService.label}} {{t('out of')}}
          {{filterService.totalcount}}</h6>
        <button *ngIf="!filterService.isLoading" class="btn mt-3 btn-secondary" (click)="refresh()">Refresh</button>
      </div>
      <ng-template #loading>
        {{t('Loading...')}}
      </ng-template>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #tagModal>
  <div class="modal-header">
    {{t('Tags')}}
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tagsModal">
    <tag-input [(ngModel)]="itemTags" [editable]="true" theme="minimal" (onAdd)="onItemAdd($event, 'itemTags')"
      placeholder="{{t('Add Tag')}}" secondaryPlaceholder="{{t('Add Tag')}}" [separatorKeys]="[',']"
      [separatorKeyCodes]="[13]" (onBlur)="onItemAdd($event, 'itemTags')"></tag-input>
    <div class="text-right">
      <button class="btn btn-primary mr-3" (click)="saveTags()">{{t('Save')}}</button>
      <button class="btn btn-link btn-secondary" (click)="hideModal()">{{t('Close')}}</button>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <div class="load-container load1">
    <div class="loader">{{ t("Loading...") }}</div>
  </div>
</ng-template>